<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <div class="page-header__menu">
                <nav class="page-header__menu-nav">
                    <ul class="page-header__menu-list">
                        <li class="page-header__menu-list-item">
                            <div class="page-header__menu-accordion js-accordion">
                                <div class="page-header__menu-accordion-btn js-accordion-btn">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                    <div class="page-header__menu-accordion-btn-text">
                                        Продукция
                                    </div>
                                </div>
                                <div class="page-header__menu-accordion-content js-accordion-content">
                                    <div class="page-header__menu-accordion-content-inner">
                                        <ul class="page-header__menu-list">
                                            <li class="page-header__menu-list-item">
                                                <div class="page-header__menu-accordion js-accordion">
                                                    <div class="page-header__menu-accordion-btn js-accordion-btn">
                                                        <svg width="14" height="14" aria-hidden="true"
                                                            class="icon-arrow-down">
                                                            <use xlink:href="#arrow-down"></use>
                                                        </svg>
                                                        <div class="page-header__menu-accordion-btn-text">
                                                            Второй уровень
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="page-header__menu-accordion-content js-accordion-content">
                                                        <div class="page-header__menu-accordion-content-inner">
                                                            <ul class="page-header__menu-list">
                                                                <li class="page-header__menu-list-item">
                                                                    <a href="#" class="page-header__nav-link">
                                                                        ссылка на втором уровне
                                                                    </a>
                                                                </li>
                                                                <li class="page-header__menu-list-item">
                                                                    <a href="#" class="page-header__nav-link">
                                                                        ссылка на втором уровне
                                                                    </a>
                                                                </li>
                                                                <li class="page-header__menu-list-item">
                                                                    <a href="#" class="page-header__nav-link">
                                                                        ссылка на втором уровне
                                                                    </a>
                                                                </li>
                                                                <li class="page-header__menu-list-item">
                                                                    <a href="#" class="page-header__nav-link">
                                                                        ссылка на втором уровне
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="page-header__menu-list-item">
                            <a href="#" class="page-header__nav-link">
                                о компании
                            </a>
                        </li>
                        <li class="page-header__menu-list-item">
                            <a href="#" class="page-header__nav-link">
                                сотрудничество
                            </a>
                        </li>
                        <li class="page-header__menu-list-item">
                            <a href="#" class="page-header__nav-link">
                                гарантия
                            </a>
                        </li>
                        <li class="page-header__menu-list-item">
                            <a href="#" class="page-header__nav-link">
                                точки продаж
                            </a>
                        </li>
                        <li class="page-header__menu-list-item">
                            <a href="#" class="page-header__nav-link">
                                преcс-центр
                            </a>
                        </li>
                        <li class="page-header__menu-list-item">
                            <a href="#" class="page-header__nav-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-catalog">
                                    <use xlink:href="#catalog"></use>
                                </svg>
                                Каталог
                            </a>
                        </li>
                        <li class="page-header__menu-list-item">
                            <a href="#" class="page-header__nav-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-cross-code">
                                    <use xlink:href="#cross-code"></use>
                                </svg>
                                кросс-коды
                            </a>
                        </li>
                        <li class="page-header__menu-list-item">
                            <a href="#" class="page-header__nav-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-materials">
                                    <use xlink:href="#materials"></use>
                                </svg>
                                материалы
                            </a>
                        </li>
                        <li class="page-header__menu-list-item">
                            <a href="#" class="page-header__nav-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-photo">
                                    <use xlink:href="#photo"></use>
                                </svg>
                                Фото
                            </a>
                        </li>
                        <li class="page-header__menu-list-item">
                            <a href="#" class="page-header__nav-link">
                                контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="page-header__menu-languages">
                    <a href="#" class="page-header__menu-languages-link active">
                        RU
                    </a>
                    <a href="#" class="page-header__menu-languages-link">
                        En
                    </a>
                </div>
            </div>
            <div class="page-header__links">
                <a href="#" class="page-header__link">
                    о компании
                </a>
                <a href="#" class="page-header__link">
                    сотрудничество
                </a>
                <a href="#" class="page-header__link">
                    гарантия
                </a>
                <a href="#" class="page-header__link">
                    точки продаж
                </a>
                <a href="#" class="page-header__link">
                    преcс-центр
                </a>
            </div>
            <a href="index.html" class="page-header__logo">
                <img src="img/logo.svg" alt="" class="page-header__logo-image">
            </a>
            <div class="page-header__links">
                <a href="#" class="page-header__link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-catalog">
                        <use xlink:href="#catalog"></use>
                    </svg>
                    Каталог
                </a>
                <a href="#" class="page-header__link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-cross-code">
                        <use xlink:href="#cross-code"></use>
                    </svg>
                    кросс-коды
                </a>
                <a href="#" class="page-header__link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-photo">
                        <use xlink:href="#photo"></use>
                    </svg>
                    Фото
                </a>
                <a href="#" class="page-header__link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-materials">
                        <use xlink:href="#materials"></use>
                    </svg>
                    материалы
                </a>
                <a href="#" class="page-header__link">

                    контакты
                </a>
                <div class="page-header__languages">
                    <div class="page-header__languages-current">
                        RU
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                            <use xlink:href="#arrow-down"></use>
                        </svg>
                    </div>
                    <div class="page-header__languages-dropdown">
                        <div class="page-header__languages-dropdown-inner">

                            <a href="#" class="page-header__languages-dropdown-link">
                                EN
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="page-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="page-header__mobile-links">
            <a href="#" class="page-header__mobile-link">
                <svg width="14" height="14" aria-hidden="true" class="icon-catalog">
                    <use xlink:href="#catalog"></use>
                </svg>
                Каталог
            </a>
            <a href="#" class="page-header__mobile-link">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross-code">
                    <use xlink:href="#cross-code"></use>
                </svg>
                кросс-коды
            </a>
            <a href="#" class="page-header__mobile-link">
                <svg width="14" height="14" aria-hidden="true" class="icon-materials">
                    <use xlink:href="#materials"></use>
                </svg>
                материалы
            </a>
        </div>
    </div>
</header>