<section class="search-panel">
    <div class="container">
        <div class="search-panel__row">


            <div class="search-panel__products-menu js-products-menu">
                <a href="#" class="search-panel__products-menu-btn">
                    <div class="search-panel__products-menu-btn-burger">

                    </div>
                    Продукция
                </a>
                <div class="search-panel__products-menu-dropdown">
                    <div class="search-panel__products-menu-dropdown-inner">
                        <div class="search-panel__products-menu-controls">
                          
                            <button class="search-panel__products-menu-close" type="button">
                                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="search-panel__products-menu-tabs js-search-products">
                            <div class="search-panel__products-menu-tab-nav">
                                <a href="#" class="search-panel__products-menu-tab-nav-link">
                                    Стартеры длинное название категории
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </a>
                                <a href="#" class="search-panel__products-menu-tab-nav-link">
                                    Стартеры длинное название категории
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </a>
                                <a href="#" class="search-panel__products-menu-tab-nav-link">
                                    Стартеры длинное название категории
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="search-panel__products-menu-tab-items">
                                <div class="search-panel__products-menu-tab-item">
                                    <div class="search-panel__products-menu-tab-item-content">
                                        <div class="search-panel__products-menu-tab-item-content-inner">
                                            <ul class="search-panel__products-menu-results">
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <div class="search-panel__products-menu-tab-item">
                                    <div class="search-panel__products-menu-tab-item-content">
                                        <div class="search-panel__products-menu-tab-item-content-inner">
                                            <ul class="search-panel__products-menu-results">
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <div class="search-panel__products-menu-tab-item">
                                    <div class="search-panel__products-menu-tab-item-content">
                                        <div class="search-panel__products-menu-tab-item-content-inner">
                                            <ul class="search-panel__products-menu-results">
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>
                                                <li class="search-panel__products-menu-results-item">
                                                    <a href="#" class="search-panel__products-menu-link">
                                                        Стартеры длинное название категории
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="search-panel__search">
                <form action="/" method="GET" class="search-panel__search-form">
                    <input type="search" class="search-panel__search-input"
                        placeholder="Поиск по названию или артикулу и ОЕМ">
                    <button class="search-panel__search-submit" type="submit">
                        <svg width="14" height="14" aria-hidden="true" class="icon-search">
                            <use xlink:href="#search"></use>
                        </svg>
                    </button>
                    <div class="search-panel__search-dropdown">
                        <div class="search-panel__search-dropdown-inner">
                            <ul class="search-panel__search-dropdown-results">
                                <li class="search-panel__search-dropdown-results-item">
                                    <a href="#" class="search-panel__search-dropdown-results-link">
                                        <div class="search-panel__search-dropdown-results-image-container">
                                            <img src="img/result.jpg" alt=""
                                                class="search-panel__search-dropdown-results-image">
                                        </div>
                                        <b>Стар</b>тер 265435 модель название
                                    </a>
                                </li>
                                <li class="search-panel__search-dropdown-results-item">
                                    <a href="#" class="search-panel__search-dropdown-results-link">
                                        <div class="search-panel__search-dropdown-results-image-container">
                                            <img src="img/result.jpg" alt=""
                                                class="search-panel__search-dropdown-results-image">
                                        </div>
                                        <b>Стар</b>тер 265435 модель название
                                    </a>
                                </li>
                                <li class="search-panel__search-dropdown-results-item">
                                    <a href="#" class="search-panel__search-dropdown-results-link">
                                        <div class="search-panel__search-dropdown-results-image-container">
                                            <img src="img/result.jpg" alt=""
                                                class="search-panel__search-dropdown-results-image">
                                        </div>
                                        <b>Стар</b>тер 265435 модель название
                                    </a>
                                </li>
                                <li class="search-panel__search-dropdown-results-item">
                                    <a href="#" class="search-panel__search-dropdown-results-link">
                                        <div class="search-panel__search-dropdown-results-image-container">
                                            <img src="img/result.jpg" alt=""
                                                class="search-panel__search-dropdown-results-image">
                                        </div>
                                        <b>Стар</b>тер 265435 модель название
                                    </a>
                                </li>
                            </ul>
                            <a href="#" class="search-panel__search-dropdown-results-show-all">
                                Смотреть все результаты
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="search-panel__btns">
                <a href="#" class="search-panel__choose-auto">
                    <span class="search-panel__choose-auto-text">
                        Подобрать к авто
                    </span>

                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                        <use xlink:href="#arrow-down"></use>
                    </svg>
                </a>
                <a href="#" class="search-panel__vin">
                    Искать по VIN
                </a>
            </div>
        </div>
        <div class="home-filters">
            <div class="home-filters__controls">
                <h4 class="home-filters__controls-title">
                    <svg width="14" height="14" aria-hidden="true" class="icon-filters">
                        <use xlink:href="#filters"></use>
                    </svg>
                    Фильтр
                </h4>
                <button class="home-filters__controls-close" type="button">
                    <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                        <use xlink:href="#cross"></use>
                    </svg>
                </button>
            </div>
            <form action="/" method="GET" class="home-filters__row">
                <div class="home-filters__select-wrapper">
                    <div class="custom-select">


                        <select name="category" class="js-custom-select">
                            <option value="" placeholder>
                                Категория
                            </option>
                            <option value="1">
                                Категория 1
                            </option>
                            <option value="2">
                                Категория 2
                            </option>
                            <option value="3">
                                Категория 3
                            </option>
                            <option value="4">
                                Категория 4
                            </option>
                        </select>
                    </div>
                </div>
                <div class="home-filters__select-wrapper">
                    <div class="custom-select">


                        <select name="trademark" class="js-custom-select">
                            <option value="" placeholder>
                                Марка
                            </option>
                            <option value="1">
                                Марка 1
                            </option>
                            <option value="2">
                                Марка 2
                            </option>
                            <option value="3">
                                Марка 3
                            </option>
                            <option value="4">
                                Марка 4
                            </option>
                        </select>
                    </div>
                </div>
                <div class="home-filters__select-wrapper">
                    <div class="custom-select">


                        <select name="model" class="js-custom-select">
                            <option value="" placeholder>
                                Модель
                            </option>
                            <option value="1">
                                Модель 1
                            </option>
                            <option value="2">
                                Модель 2
                            </option>
                            <option value="3">
                                Модель 3
                            </option>
                            <option value="4">
                                Модель 4
                            </option>
                        </select>
                    </div>
                </div>
                <div class="home-filters__select-wrapper">
                    <div class="custom-select">


                        <select name="modification" class="js-custom-select">
                            <option value="" placeholder>
                                Модификация
                            </option>
                            <option value="1">
                                Модификация 1
                            </option>
                            <option value="2">
                                Модификация 2
                            </option>
                            <option value="3">
                                Модификация 3
                            </option>
                            <option value="4">
                                Модификация 4
                            </option>
                        </select>
                    </div>
                </div>
                <div class="home-filters__select-wrapper">
                    <div class="custom-select">


                        <select name="type" class="js-custom-select">
                            <option value="" placeholder>
                                Тип топлива
                            </option>
                            <option value="1">
                                Тип топлива 1
                            </option>
                            <option value="2">
                                Тип топлива 2
                            </option>
                            <option value="3">
                                Тип топлива 3
                            </option>
                            <option value="4">
                                Тип топлива 4
                            </option>
                        </select>
                    </div>
                </div>
                <div class="home-filters__select-wrapper">
                    <div class="custom-select">
                        <select name="period" class="js-custom-select">
                            <option value="" placeholder>
                                Период выпуска
                            </option>
                            <option value="1">
                                Период выпуска 1
                            </option>
                            <option value="2">
                                Период выпуска 2
                            </option>
                            <option value="3">
                                Период выпуска 3
                            </option>
                            <option value="4">
                                Период выпуска 4
                            </option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="home-filters__submit">
                    Найти
                </button>
            </form>
        </div>
    </div>
</section>