<section class="search-panel">
    <div class="container">
        <div class="search-panel__row">


            <div class="search-panel__products-menu js-products-menu">
                <a href="#" class="search-panel__products-menu-btn">
                    <div class="search-panel__products-menu-btn-burger">

                    </div>
                    Продукция
                </a>
                <div class="search-panel__products-menu-dropdown">
                    <div class="search-panel__products-menu-dropdown-inner">
                        <ul class="search-panel__products-menu-results">
                            <li class="search-panel__products-menu-results-item">
                                <a href="#" class="search-panel__products-menu-link">
                                    Стартеры длинное название категории
                                </a>
                            </li>
                            <li class="search-panel__products-menu-results-item">
                                <a href="#" class="search-panel__products-menu-link">
                                    Стартеры длинное название категории
                                </a>
                            </li>
                            <li class="search-panel__products-menu-results-item">
                                <a href="#" class="search-panel__products-menu-link">
                                    Стартеры длинное название категории
                                </a>
                            </li>
                            <li class="search-panel__products-menu-results-item">
                                <a href="#" class="search-panel__products-menu-link">
                                    Стартеры длинное название категории
                                </a>
                            </li>
                            <li class="search-panel__products-menu-results-item">
                                <a href="#" class="search-panel__products-menu-link">
                                    Стартеры длинное название категории
                                </a>
                            </li>
                            <li class="search-panel__products-menu-results-item">
                                <a href="#" class="search-panel__products-menu-link">
                                    Стартеры длинное название категории
                                </a>
                            </li>
                            <li class="search-panel__products-menu-results-item">
                                <a href="#" class="search-panel__products-menu-link">
                                    Стартеры длинное название категории
                                </a>
                            </li>
                            <li class="search-panel__products-menu-results-item">
                                <a href="#" class="search-panel__products-menu-link">
                                    Стартеры длинное название категории
                                </a>
                            </li>
                            <li class="search-panel__products-menu-results-item">
                                <a href="#" class="search-panel__products-menu-link">
                                    Стартеры длинное название категории
                                </a>
                            </li>
                            <li class="search-panel__products-menu-results-item">
                                <a href="#" class="search-panel__products-menu-link">
                                    Стартеры длинное название категории
                                </a>
                            </li>
                            <li class="search-panel__products-menu-results-item">
                                <a href="#" class="search-panel__products-menu-link">
                                    Стартеры длинное название категории
                                </a>
                            </li>
                            <li class="search-panel__products-menu-results-item">
                                <a href="#" class="search-panel__products-menu-link">
                                    Стартеры длинное название категории
                                </a>
                            </li>
                            <li class="search-panel__products-menu-results-item">
                                <a href="#" class="search-panel__products-menu-link">
                                    Стартеры длинное название категории
                                </a>
                            </li>
                            <li class="search-panel__products-menu-results-item">
                                <a href="#" class="search-panel__products-menu-link">
                                    Стартеры длинное название категории
                                </a>
                            </li>
                            <li class="search-panel__products-menu-results-item">
                                <a href="#" class="search-panel__products-menu-link">
                                    Стартеры длинное название категории
                                </a>
                            </li>
                            <li class="search-panel__products-menu-results-item">
                                <a href="#" class="search-panel__products-menu-link">
                                    Стартеры длинное название категории
                                </a>
                            </li>
                            <li class="search-panel__products-menu-results-item">
                                <a href="#" class="search-panel__products-menu-link">
                                    Стартеры длинное название категории
                                </a>
                            </li>
                            <li class="search-panel__products-menu-results-item">
                                <a href="#" class="search-panel__products-menu-link">
                                    Стартеры длинное название категории
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="search-panel__search">
                <form action="/" method="GET" class="search-panel__search-form">
                    <input type="search" class="search-panel__search-input"
                        placeholder="Поиск по названию или артикулу и ОЕМ">
                    <button class="search-panel__search-submit" type="submit">
                        <svg width="14" height="14" aria-hidden="true" class="icon-search">
                            <use xlink:href="#search"></use>
                        </svg>
                    </button>
                    <div class="search-panel__search-dropdown">
                        <div class="search-panel__search-dropdown-inner">
                            <ul class="search-panel__search-dropdown-results">
                                <li class="search-panel__search-dropdown-results-item">
                                    <a href="#" class="search-panel__search-dropdown-results-link">
                                        <div class="search-panel__search-dropdown-results-image-container">
                                            <img src="img/result.jpg" alt=""
                                                class="search-panel__search-dropdown-results-image">
                                        </div>
                                        <b>Стар</b>тер 265435 модель название
                                    </a>
                                </li>
                                <li class="search-panel__search-dropdown-results-item">
                                    <a href="#" class="search-panel__search-dropdown-results-link">
                                        <div class="search-panel__search-dropdown-results-image-container">
                                            <img src="img/result.jpg" alt=""
                                                class="search-panel__search-dropdown-results-image">
                                        </div>
                                        <b>Стар</b>тер 265435 модель название
                                    </a>
                                </li>
                                <li class="search-panel__search-dropdown-results-item">
                                    <a href="#" class="search-panel__search-dropdown-results-link">
                                        <div class="search-panel__search-dropdown-results-image-container">
                                            <img src="img/result.jpg" alt=""
                                                class="search-panel__search-dropdown-results-image">
                                        </div>
                                        <b>Стар</b>тер 265435 модель название
                                    </a>
                                </li>
                                <li class="search-panel__search-dropdown-results-item">
                                    <a href="#" class="search-panel__search-dropdown-results-link">
                                        <div class="search-panel__search-dropdown-results-image-container">
                                            <img src="img/result.jpg" alt=""
                                                class="search-panel__search-dropdown-results-image">
                                        </div>
                                        <b>Стар</b>тер 265435 модель название
                                    </a>
                                </li>
                            </ul>
                            <a href="#" class="search-panel__search-dropdown-results-show-all">
                                Смотреть все результаты
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="search-panel__btns">
                <a href="#" class="search-panel__choose-auto">
                    <span class="search-panel__choose-auto-text">
                        Подобрать к авто
                    </span>

                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                        <use xlink:href="#arrow-down"></use>
                    </svg>
                </a>
                <a href="#" class="search-panel__vin">
                    Искать по VIN
                </a>
            </div>
        </div>
    </div>
</section>