{{#extend "layout"}}
{{#content "main"}}

{{> search-panel }}

<div class="page-title">
    <div class="container">


        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                главная
            </a>
            <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                <use xlink:href="#breadcrumbs-arrow"></use>
            </svg>
            <a href="#" class="breadcrumbs__link active">
                о компании
            </a>
        </div>
        <div class="page-title__row">
            <h1 class="page-title__heading">
                О компании
            </h1>

        </div>
    </div>
</div>

<div class="about-new">

    <div class="about-new__intro">
        <div class="container">
            <div class="about-new__intro-row">
                <div class="about-new__intro-col">
                    <h2 class="about-new__intro-heading">
                        Коротко о продукции
                    </h2>
                    <ul class="about-new__intro-list">
                        <li class="about-new__intro-list-item">
                            Год возникновения на рынке: 2010
                        </li>
                        <li class="about-new__intro-list-item">
                            Ключевая компетенция: детали автоэлектрооборудования
                        </li>
                        <li class="about-new__intro-list-item">
                            Одни из лидеров в группе инжекторных датчиков по продажам и наполнению ассортимента в
                            сегменте
                        </li>
                        <li class="about-new__intro-list-item">
                            Создан собственный инженерно-технический штат, осуществляющий разработку, проверкуи
                            тесты
                            продукции
                        </li>
                        <li class="about-new__intro-list-item">
                            Более 2000 товарных единиц продукции
                        </li>
                        <li class="about-new__intro-list-item">
                            Налажена собственная производственная линия по всем моделям генераторов для
                            отечественных
                            автомобилей
                        </li>
                        <li class="about-new__intro-list-item">
                            Ежемесячное расширение производственной линейки на 30-70 новых изделий для популярных
                            автомобилей России и СНГ
                        </li>
                    </ul>
                </div>
                <div class="about-new__intro-col">
                    <a href="#" class="about-new__intro-video">

                        <svg width="14" height="14" aria-hidden="true" class="icon-large-play">
                            <use xlink:href="#large-play"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="about-new__advantages">
        <div class="container">


            <h2 class="about-new__advantages-heading">
                Коммерческое преимущество работы со Startvolt
            </h2>
            <ul class="about-new__advantages-list">
                <li class="about-new__advantages-list-item about-new__advantages-list-item--high">
                    <div class="about-new__advantages-card">
                        <img src="img/about-advantages/1.svg" alt="" class="about-new__advantages-card-icon">
                        <div class="about-new__advantages-card-content">
                            <h3 class="about-new__advantages-card-title">
                                Ассортимент
                            </h3>
                            <div class="about-new__advantages-card-text">
                                <p>
                                    Полный актуальный ассортимент для всех популярных автомобилей в России (иномарки,
                                    отечественное направление)
                                </p>
                                <p>
                                    Ассортимент автоэлектрики с множеством уникальных товаров, не имеющих аналогов как
                                    по характеристикам (например генераторы 135А для ВАЗ/ГАЗ/УАЗ), так и по предложению
                                    на рынке (например единственный на данный момент аналог оригинала по генераторам на
                                    Hyundai Solaris II/Creta).
                                </p>
                                <p>
                                    Постоянное расширение ассортимента (расширение производства от 30 до 70 новых
                                    изделий в месяц)
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="about-new__advantages-list-item">
                    <div class="about-new__advantages-card">
                        <img src="img/about-advantages/2.svg" alt="" class="about-new__advantages-card-icon">
                        <div class="about-new__advantages-card-content">
                            <h3 class="about-new__advantages-card-title">
                                Качество продкуции
                            </h3>
                            <div class="about-new__advantages-card-text">
                                <p>
                                    Расширенная гарантия на всю продукцию – 2 года с момента продажи
                                </p>
                                <p>
                                    Постоянный 100%-й контроль качества, как на производстве, так и непосредственно
                                    перед поставкой
                                </p>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="about-new__advantages-list-item">
                    <div class="about-new__advantages-card">
                        <img src="img/about-advantages/3.svg" alt="" class="about-new__advantages-card-icon">
                        <div class="about-new__advantages-card-content">
                            <h3 class="about-new__advantages-card-title">
                                Сотрудничество
                            </h3>
                            <div class="about-new__advantages-card-text">
                                <p>
                                    Привлекательное ценообразование по продукции
                                </p>
                                <p>
                                    Регулярные рекламные и маркетинговые мероприятия
                                </p>
                                <p>
                                    Упрощенная схема приема рекламация без дополнительных сложностей для магазина или
                                    СТО
                                </p>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="about-new__advantages-list-item about-new__advantages-list-item--wide">
                    <div class="about-new__advantages-card about-new__advantages-card--red">
                        <img src="img/about-advantages/4.svg" alt="" class="about-new__advantages-card-icon">
                        <div class="about-new__advantages-card-content">
                            <h3 class="about-new__advantages-card-title">
                                Постоянная поддержка
                            </h3>
                            <div class="about-new__advantages-card-text">
                                <p>
                                    <b>
                                        Единый Информационный Центр - 8-800-555-89-65, либо через сайт, либо через
                                        Дистрибьютора.
                                    </b>
                                </p>
                                <p>
                                    Количество всевозможных вариантов взаимодействия неограниченно
                                </p>


                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="about-new__pilots">
        <div class="container">


            <h2 class="about-new__pilots-heading">
                Startvolt в дрифте
            </h2>
            <div class="about-new__pilots-heading-text">
                <p>
                    В преддверии старт RDSGP 2021 компания Startvolt анонсировала титульное спонсорство и партнёрство с
                    тремя пилотами:
                </p>
            </div>
            <ul class="about-new__pilots-list">
                <li class="about-new__pilots-list-item">
                    <a href="#" class="about-new__pilots-card">
                        <div class="about-new__pilots-card-image-container">

                        </div>
                        <div class="about-new__pilots-card-content">
                            <h3 class="about-new__pilots-card-title">
                                Никита Шиков
                            </h3>
                            <div class="about-new__pilots-card-text">
                                <p>
                                    двукратный вице-чемпион RDS GP, на автомобиле TOYOTA Supra GR90.
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="about-new__pilots-list-item">
                    <a href="#" class="about-new__pilots-card">
                        <div class="about-new__pilots-card-image-container">

                        </div>
                        <div class="about-new__pilots-card-content">
                            <h3 class="about-new__pilots-card-title">
                                Никита Шиков
                            </h3>
                            <div class="about-new__pilots-card-text">
                                <p>
                                    двукратный вице-чемпион RDS GP, на автомобиле TOYOTA Supra GR90.
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="about-new__pilots-list-item">
                    <a href="#" class="about-new__pilots-card">
                        <div class="about-new__pilots-card-image-container">

                        </div>
                        <div class="about-new__pilots-card-content">
                            <h3 class="about-new__pilots-card-title">
                                Никита Шиков
                            </h3>
                            <div class="about-new__pilots-card-text">
                                <p>
                                    двукратный вице-чемпион RDS GP, на автомобиле TOYOTA Supra GR90.
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="about-new__pilots-partnership">
                <div class="about-new__pilots-partnership-large-text">
                    <p>
                        В рамках сотрудничества STARTVOLT ставит своей целью не только оказание поддержки талантливым
                        спортсменам, но и специальную разработку и профильные тесты ключевых деталей поставляемой
                        автоэлектрики – генераторов, стартеров и катушек зажигания, предлагаемых компанией
                    </p>
                </div>
                <div class="about-new__pilots-partnership-small-text">
                    <p>
                        RDSGP – это официальные многоэтапные соревнования по дрифту одного из самых зрелищных видов
                        автоспорт в России. RDSGP входит в тройку сильнейших чемпионатов по дрифту в мире.
                    </p>
                    <p>
                        Нам всегда нравилось поддерживать существующие автоспортивные дисциплины, и мы стараемся активно
                        участвовать в популяризации автоспорта в России. Мы считаем это важным направлением нашей
                        деятельности.
                    </p>
                    <p>
                        Наши покупатели — автомобилисты - люди, которые много и усердно работают и хотят получать
                        удовольствие от спортивного зрелища. Мы разделяем любовь к автомобилям и дрифту, как особой
                        культуре, поэтому мы с огромной радостью готовы оказать содействие, поддержав их любимую
                        команду.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
{{/content}}
{{/extend}}