{{#extend "layout"}}
{{#content "main"}}


{{> search-panel }}

<div class="page-title">
    <div class="container">


        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                главная
            </a>
            <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                <use xlink:href="#breadcrumbs-arrow"></use>
            </svg>
            <a href="#" class="breadcrumbs__link">
                новости
            </a>
            <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                <use xlink:href="#breadcrumbs-arrow"></use>
            </svg>
            <a href="#" class="breadcrumbs__link active">
                1 этап RDS Запад: как прошел старт сезона?
            </a>
        </div>

    </div>
</div>

<div class="article">
    <div class="container">
        <div class="article__row">
            <div class="article__left-col">
                <h1 class="article__main-heading">
                    1 этап RDS Запад: как прошел старт сезона?
                </h1>
                <div class="article__date">
                    20.05.2021
                </div>
                <div class="article__content">
                    <p>
                        <strong>
                            15-16 мая на ATRON International Circuit (Рязань) прошел первый этап младшей серии RDS
                            Запад. Кто станет победителем этапа? Сможет ли он удержать пальму первенства на протяжении
                            всего сезона?
                        </strong>
                    </p>
                    <h3>
                        В роли судей - известные всему миру пилоты
                    </h3>
                    <p>
                        Судейский состав на первом этапе RDS Запад состоит из действующих пилотов RDS GP, титулованных
                        чемпионов – Чарльза НГ (Китай) и Джеймса Дина (Ирландия). Компанию им составил Дмитрий
                        Добровольский – руководитель Российской дрифт серии.
                    </p>
                    <img src="img/categories/1.jpg" alt="">
                    <p>
                        Помимо личного зачета также был и командный. Участие в первом этапе приняли пять команд: EXHAUST
                        WEAR, Lucky’s 13, Black Drift, Vitex oil Drift Team, GARAGE DRIFT TEAM.
                    </p>
                    <p>
                        Что касается командного зачета, то здесь с разницей буквально в 20 баллов первое место заняла
                        команда EXHAUST WEAR, второе - Lucky’s 13, а на третьем с большим отрывом – Black Drift.
                    </p>
                    <p>
                        Второй этап RDS Запад состоится 26-27 июня в Белгороде, и техническая команда приложит все
                        усилия, чтобы презентовать BMW E46 Eurofighter в новой оклейке титульного спонсора бренда
                        TRIALLI.
                    </p>
                    <p>
                        До встречи на следующем этапе, который состоится 26-27 июня в Белгороде!
                    </p>
                    <h3>
                        В роли судей - известные всему миру пилоты
                    </h3>
                    <p>
                        Что касается командного зачета, то здесь с разницей буквально в 20 баллов первое место заняла
                        команда EXHAUST WEAR, второе - Lucky’s 13, а на третьем с большим отрывом – Black Drift.
                    </p>
                    <p>
                        Второй этап RDS Запад состоится 26-27 июня в Белгороде, и техническая команда приложит все
                        усилия, чтобы презентовать BMW E46 Eurofighter в новой оклейке титульного спонсора бренда
                        TRIALLI.
                    </p>
                    <p>
                        До встречи на следующем этапе, который состоится 26-27 июня в Белгороде!
                    </p>
                </div>
                <div class="article__social">
                    <h3 class="article__social-heading">
                        Мы в социальных сетях
                    </h3>
                    <div class="article__social-links">
                        <a href="#" class="article__social-link">
                            YouTube
                        </a>
                        <a href="#" class="article__social-link">
                            Instagram
                        </a>
                        <a href="#" class="article__social-link">
                            VK
                        </a>
                        <a href="#" class="article__social-link">
                            Facebook
                        </a>
                        <a href="#" class="article__social-link">
                            Telegram
                        </a>
                    </div>
                </div>
                <div class="article__sharing">
                    <h3 class="article__sharing-heading">
                        Поделиться
                    </h3>
                    <ul class="article__sharing-list">
                        <li class="article__sharing-list-item">
                            <a href="#" class="article__sharing-link">
                                <img src="img/sharing/1.svg" alt="" class="article__sharing-link-icon">
                            </a>
                        </li>
                        <li class="article__sharing-list-item">
                            <a href="#" class="article__sharing-link">
                                <img src="img/sharing/2.svg" alt="" class="article__sharing-link-icon">
                            </a>
                        </li>
                        <li class="article__sharing-list-item">
                            <a href="#" class="article__sharing-link">
                                <img src="img/sharing/3.svg" alt="" class="article__sharing-link-icon">
                            </a>
                        </li>
                        <li class="article__sharing-list-item">
                            <a href="#" class="article__sharing-link">
                                <img src="img/sharing/4.svg" alt="" class="article__sharing-link-icon">
                            </a>
                        </li>
                        <li class="article__sharing-list-item">
                            <a href="#" class="article__sharing-link">
                                <img src="img/sharing/5.svg" alt="" class="article__sharing-link-icon">
                            </a>
                        </li>
                        <li class="article__sharing-list-item">
                            <a href="#" class="article__sharing-link">
                                <img src="img/sharing/6.svg" alt="" class="article__sharing-link-icon">
                            </a>
                        </li>
                        <li class="article__sharing-list-item">
                            <a href="#" class="article__sharing-link">
                                <img src="img/sharing/7.svg" alt="" class="article__sharing-link-icon">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="article__subscribe">
                    <h3 class="article__subscribe-heading">
                        Подпишитесь на рассылку
                    </h3>
                    <form action="/" method="POST" class="article__subscribe-form" data-need-validation="">
                        <input type="email" class="article__subscribe-input" required placeholder="Ваш e-mail">
                        <button class="article__subscribe-submit" type="submit">
                            Подписаться
                        </button>
                    </form>
                </div>



            </div>
            <div class="article__right-col">
                <div class="article__other-news">
                    <h3 class="article__other-news-heading">
                        Похожие новости
                    </h3>
                    <div class="article__other-news-slider js-article-other-news">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="news__slider-card">
                                        <div class="news__slider-card-image-container">
                                            <img src="img/news/2.jpg" alt="" class="news__slider-card-image">
                                        </div>
                                        <h4 class="news__slider-card-title">
                                            Новинки STARTVOLT декабря 2020 года
                                        </h4>
                                        <div class="news__slider-card-text">
                                            <p>
                                                Представляем все новинки STARTVOLT за декабрь 2020 года
                                            </p>
                                        </div>
                                        <div class="news__slider-card-date">
                                            14/03/2020
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="news__slider-card">
                                        <div class="news__slider-card-image-container">
                                            <img src="img/news/2.jpg" alt="" class="news__slider-card-image">
                                        </div>
                                        <h4 class="news__slider-card-title">
                                            Новинки STARTVOLT декабря 2020 года
                                        </h4>
                                        <div class="news__slider-card-text">
                                            <p>
                                                Представляем все новинки STARTVOLT за декабрь 2020 года
                                            </p>
                                        </div>
                                        <div class="news__slider-card-date">
                                            14/03/2020
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="news__slider-card">
                                        <div class="news__slider-card-image-container">
                                            <img src="img/news/2.jpg" alt="" class="news__slider-card-image">
                                        </div>
                                        <h4 class="news__slider-card-title">
                                            Новинки STARTVOLT декабря 2020 года
                                        </h4>
                                        <div class="news__slider-card-text">
                                            <p>
                                                Представляем все новинки STARTVOLT за декабрь 2020 года
                                            </p>
                                        </div>
                                        <div class="news__slider-card-date">
                                            14/03/2020
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{{/content}}
{{/extend}}