{{#extend "layout"}}
{{#content "main"}}


{{> search-panel }}

<div class="page-title">
    <div class="container">


        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                главная
            </a>
            <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                <use xlink:href="#breadcrumbs-arrow"></use>
            </svg>
            <a href="#" class="breadcrumbs__link active">
                каталог
            </a>
        </div>
        <div class="page-title__row">
            <h1 class="page-title__heading">
                Каталог
            </h1>

        </div>
    </div>
</div>

<div class="product-categories">
    <div class="container">
        <ul class="product-categories__list">
            <li class="product-categories__list-item">
                <div class="product-categories__card">
                    <img src="img/category-icons/1.svg" alt="" class="product-categories__card-icon">
                    <h4 class="product-categories__card-title">
                        Генераторы
                    </h4>
                    <ul class="product-categories__card-list">
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="product-categories__card-show-more">
                        Показать все
                    </a>
                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__card">
                    <img src="img/category-icons/2.svg" alt="" class="product-categories__card-icon">
                    <h4 class="product-categories__card-title">
                        Генераторы
                    </h4>
                    <ul class="product-categories__card-list">
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="product-categories__card-show-more">
                        Показать все
                    </a>
                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__card">
                    <img src="img/category-icons/3.svg" alt="" class="product-categories__card-icon">
                    <h4 class="product-categories__card-title">
                        Генераторы
                    </h4>
                    <ul class="product-categories__card-list">
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="product-categories__card-show-more">
                        Показать все
                    </a>
                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__card">
                    <img src="img/category-icons/1.svg" alt="" class="product-categories__card-icon">
                    <h4 class="product-categories__card-title">
                        Генераторы
                    </h4>
                    <ul class="product-categories__card-list">
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="product-categories__card-show-more">
                        Показать все
                    </a>
                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__card">
                    <img src="img/category-icons/1.svg" alt="" class="product-categories__card-icon">
                    <h4 class="product-categories__card-title">
                        Генераторы
                    </h4>
                    <ul class="product-categories__card-list">
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="product-categories__card-show-more">
                        Показать все
                    </a>
                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__card">
                    <img src="img/category-icons/2.svg" alt="" class="product-categories__card-icon">
                    <h4 class="product-categories__card-title">
                        Генераторы
                    </h4>
                    <ul class="product-categories__card-list">
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="product-categories__card-show-more">
                        Показать все
                    </a>
                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__card">
                    <img src="img/category-icons/3.svg" alt="" class="product-categories__card-icon">
                    <h4 class="product-categories__card-title">
                        Генераторы
                    </h4>
                    <ul class="product-categories__card-list">
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="product-categories__card-show-more">
                        Показать все
                    </a>
                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__card">
                    <img src="img/category-icons/1.svg" alt="" class="product-categories__card-icon">
                    <h4 class="product-categories__card-title">
                        Генераторы
                    </h4>
                    <ul class="product-categories__card-list">
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__card-list-item">
                            <a href="#" class="product-categories__card-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="product-categories__card-show-more">
                        Показать все
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>


{{/content}}
{{/extend}}