{{#extend "layout"}}
{{#content "main"}}


{{> search-panel }}

<div class="page-title">
    <div class="container">


        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                главная
            </a>
            <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                <use xlink:href="#breadcrumbs-arrow"></use>
            </svg>
            <a href="#" class="breadcrumbs__link active">
                каталог
            </a>
        </div>
        <div class="page-title__row">
            <h1 class="page-title__heading">
                Каталог
            </h1>

        </div>
    </div>
</div>

<div class="product-categories">
    <div class="container">
        <ul class="product-categories__list">
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/1.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Генераторы

                        </h4>
                    </a>

                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/2.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Катушки зажигания

                        </h4>
                    </a>

                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/3.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Клеммы АКБ

                        </h4>
                    </a>

                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/4.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Генераторы

                        </h4>
                    </a>

                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/5.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Генераторы

                        </h4>
                    </a>

                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/6.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Катушки зажигания

                        </h4>
                    </a>

                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/7.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Клеммы АКБ
                        </h4>
                    </a>

                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/8.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Генераторы
                        </h4>
                    </a>

                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/9.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Генераторы
                        </h4>
                    </a>

                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/10.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Катушки зажигания
                        </h4>
                    </a>

                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/11.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Клеммы АКБ
                        </h4>
                    </a>

                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/12.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Генераторы
                        </h4>
                    </a>

                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/13.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Генераторы
                        </h4>
                    </a>

                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/14.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Катушки зажигания
                        </h4>
                    </a>
                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/15.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Клеммы АКБ
                        </h4>
                    </a>
                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/16.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Генераторы
                        </h4>
                    </a>
                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/17.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Генераторы
                        </h4>
                    </a>
                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/18.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Катушки зажигания
                        </h4>
                    </a>
                    <ul class="product-categories__new-card-subcategories-list">
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/19.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Клеммы АКБ
                        </h4>
                    </a>
                    <ul class="product-categories__new-card-subcategories-list">
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/20.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Клеммы АКБ
                        </h4>
                    </a>
                    <ul class="product-categories__new-card-subcategories-list">
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="product-categories__new-card-more">
                        Показать все
                    </a>
                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/21.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Генераторы
                        </h4>
                    </a>
                    <ul class="product-categories__new-card-subcategories-list">
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                    </ul>

                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/22.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Катушки зажигания
                        </h4>
                    </a>
                    <ul class="product-categories__new-card-subcategories-list">
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                    </ul>

                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/23.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Клеммы АКБ
                        </h4>
                    </a>
                    <ul class="product-categories__new-card-subcategories-list">
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                    </ul>

                </div>
            </li>
            <li class="product-categories__list-item">
                <div class="product-categories__new-card">
                    <a href="#" class="product-categories__new-card-category-link">
                        <img src="img/new-categories-icons/24.svg" alt="" class="product-categories__new-card-icon">
                        <h4 class="product-categories__new-card-heading">
                            Генераторы
                        </h4>
                    </a>
                    <ul class="product-categories__new-card-subcategories-list">
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                        <li class="product-categories__new-card-subcategories-list-item">
                            <a href="#" class="product-categories__new-card-subcategories-link">
                                Стартеры длинное название категории
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="product-categories__new-card-more">
                        Показать все
                    </a>

                </div>
            </li>

        </ul>
    </div>
</div>


{{/content}}
{{/extend}}