{{#extend "layout"}}
{{#content "main"}}

{{> search-panel }}

<div class="page-title">
    <div class="container">


        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                главная
            </a>
            <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                <use xlink:href="#breadcrumbs-arrow"></use>
            </svg>
            <a href="#" class="breadcrumbs__link active">
                о компании
            </a>
        </div>
        <div class="page-title__row">
            <h1 class="page-title__heading">
                О компании
            </h1>

        </div>
    </div>
</div>

<div class="guarantee">
    <div class="container">
        <div class="guarantee__layout">
            <div class="guarantee__sidebar">
                <div class="guarantee__period">
                    <h3 class="guarantee__period-heading">
                        Гарантийный срок
                    </h3>
                    <div class="guarantee__period-text">
                        <p>
                            абсолютно на всю продукцию составляет 2 года с момента продажи!
                        </p>
                    </div>
                    <img src="img/guarantee-period.svg" alt="" class="guarantee__period-image">
                </div>
                <div class="guarantee__act">
                    <h3 class="guarantee__act-heading">
                        Акт дефектовки
                    </h3>
                    <a href="#" class="guarantee__act-link">
                        Скачать
                    </a>
                </div>
            </div>
            <div class="guarantee__main">
                <div class="guarantee__text-content">
                    <h3>
                        Условия предоставления гарантии:
                    </h3>
                    <ol>
                        <li>
                            Гарантия работоспособности проданного изделия предоставляется при условии соблюдения
                            покупателем правил эксплуатации в течении гарантийного срока, считая от даты продажи,
                            проставленной в гарантийном талоне и заверенной штампом торгующей организации.

                        </li>
                        <li>
                            Гарантийные обязательства не распространяются на изделия, не имеющие фирменного гарантийного
                            талона, а также при предъявлении незаполненного талона.

                        </li>
                        <li>
                            Действие гарантийных обязательств прекращается при:
                            <ol>
                                <li>
                                    Использовании изделия не по назначению;
                                </li>
                                <li>
                                    Механических воздействиях, приводящих к изменению геометрии, нарушению внешнего
                                    вида и размеров деталей изделия, а также его маркировки;
                                </li>
                                <li>
                                    Самостоятельном ремонте изделия.
                                </li>
                            </ol>
                        </li>
                        <li>
                            В случае обнаружения недостатков (дефектов) в течении гарантийного срока покупатель
                            вправе требовать:
                            <ol>
                                <li>
                                    Замены изделия на изделие аналогичной марки.
                                </li>
                                <li>
                                    Возврата уплаченной за изделие суммы.
                                </li>
                            </ol>
                        </li>
                        <li>
                            Решение о замене изделия может быть принято только после проведения технической
                            экспертизы.
                        </li>
                        <li>
                            Срок гарантии на всю продукцию 2 года с даты продажи, но не более 3-х лет с даты
                            изготовления изделия.
                        </li>
                        <li>
                            Установку изделия рекомендуется производить на станции технического обслуживания.
                        </li>
                    </ol>
                    <h3>
                        Действия потребителя при возврате продукции
                    </h3>
                    <ol>
                        <li>
                            При возврате изделия покупатель должен помнить о требованиях, предъявляемых к возвращаемому
                            изделию:
                            <ul>
                                <li>
                                    отсутствие механических повреждений
                                </li>
                                <li>
                                    наличии маркировки производителя
                                </li>
                            </ul>

                        </li>
                        <li>
                            Составить заявление в свободной форме с указанием причины возврата;
                        </li>
                        <li>
                            Вернуть изделие в магазин (торговую организацию) с копией заявления покупателя и с
                            указанием причины возврата. Торговая организация, продавшая вам изделие, после соблюдения
                            необходимых формальностей должна произвести его замену. При этом вы должны предоставить
                            изделие с упаковкой или без, «гарантийный талон» с отметками торгующей организации или чек,
                            выданный данной организацией.
                        </li>
                    </ol>
                    <blockquote>
                        В случае если торговая организация отказывается принимать продукцию, заявленную как бракованная,
                        без оснований, просьба написать письмо по адресу <a
                            href="mailto:mail@startvolt.com">mail@startvolt.com</a>. В письме кратко изложить
                        наименование бракованного изделия, причину возврата, дату покупки и адрес розничной точки, с
                        телефоном и ФИО продавца, который отказался обменять Вам продукцию.
                    </blockquote>
                    <h3>
                        Действия потребителя при возврате продукции
                    </h3>
                    <ol>
                        <li>
                            Осмотреть возвратную продукцию на предмет наличия маркировки и отсутствия механических
                            повреждений, а также следов самостоятельного ремонта;
                        </li>
                        <li>
                            Проверить наличие «Гарантийного талона» с отметками торгующей организации;
                        </li>
                        <li>
                            Принять от покупателя заявление в свободной форме с указанием причины возврата;
                        </li>
                        <li>
                            В случае идентификации изделия по признакам принадлежности к продукции STARTVOLT, а также
                            при наличии дефектных признаков обменять изделие на новое или вернуть деньги (Закон РФ «О
                            защите прав потребителя»);
                        </li>
                        <li>
                            Вернуть изделие Дистрибьютору или Дилеру с копией заявления покупателя и с указанием причины
                            возврата.
                        </li>
                    </ol>
                    <h3>
                        Действия Дистрибьютора/Дилера при возврате продукции
                    </h3>
                    <ol>
                        <li>
                            Официальный Дистрибьютор/Дилер принимает возвратную продукцию от торгующей организации с
                            повторной идентификацией принадлежности;
                        </li>
                        <li>
                            Дистрибьютор/Дилер осуществляет возврат продукции производителю с оформлением накладной;
                            по каждому изделию указывается причина возврата или прикладывается заявление потребителя;
                        </li>
                        <li>
                            Производитель делает заключение об обоснованности возврата и проводит взаиморасчеты с
                            Дистрибьютором, проводятся необходимые корректирующие мероприятия в производственном
                            процессе
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

{{/content}}
{{/extend}}