{{#extend "layout"}}
{{#content "main"}}


<section class="intro-slider">
    <div class="container">
        <div class="intro-slider__wrapper js-intro-slider">
            <img src="img/logo.svg" alt="" class="intro-slider__logo">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="intro-slider__card">
                            <div class="intro-slider__card-text">
                                Качество<br> гарантировано опытом
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="intro-slider__card">
                            <div class="intro-slider__card-text">
                                Качество<br> гарантировано опытом
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="intro-slider__card">
                            <div class="intro-slider__card-text">
                                Качество<br> гарантировано опытом
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{> search-panel }}

<section class="home-filters">
    <div class="container">
        <form action="/" method="GET" class="home-filters__row">
            <div class="home-filters__select-wrapper">
                <div class="custom-select">


                    <select name="category" class="js-custom-select">
                        <option value="" placeholder>
                            Категория
                        </option>
                        <option value="1">
                            Категория 1
                        </option>
                        <option value="2">
                            Категория 2
                        </option>
                        <option value="3">
                            Категория 3
                        </option>
                        <option value="4">
                            Категория 4
                        </option>
                    </select>
                </div>
            </div>
            <div class="home-filters__select-wrapper">
                <div class="custom-select">


                    <select name="trademark" class="js-custom-select">
                        <option value="" placeholder>
                            Марка
                        </option>
                        <option value="1">
                            Марка 1
                        </option>
                        <option value="2">
                            Марка 2
                        </option>
                        <option value="3">
                            Марка 3
                        </option>
                        <option value="4">
                            Марка 4
                        </option>
                    </select>
                </div>
            </div>
            <div class="home-filters__select-wrapper">
                <div class="custom-select">


                    <select name="model" class="js-custom-select">
                        <option value="" placeholder>
                            Модель
                        </option>
                        <option value="1">
                            Модель 1
                        </option>
                        <option value="2">
                            Модель 2
                        </option>
                        <option value="3">
                            Модель 3
                        </option>
                        <option value="4">
                            Модель 4
                        </option>
                    </select>
                </div>
            </div>
            <div class="home-filters__select-wrapper">
                <div class="custom-select">


                    <select name="modification" class="js-custom-select">
                        <option value="" placeholder>
                            Модификация
                        </option>
                        <option value="1">
                            Модификация 1
                        </option>
                        <option value="2">
                            Модификация 2
                        </option>
                        <option value="3">
                            Модификация 3
                        </option>
                        <option value="4">
                            Модификация 4
                        </option>
                    </select>
                </div>
            </div>
            <div class="home-filters__select-wrapper">
                <div class="custom-select">


                    <select name="type" class="js-custom-select">
                        <option value="" placeholder>
                            Тип топлива
                        </option>
                        <option value="1">
                            Тип топлива 1
                        </option>
                        <option value="2">
                            Тип топлива 2
                        </option>
                        <option value="3">
                            Тип топлива 3
                        </option>
                        <option value="4">
                            Тип топлива 4
                        </option>
                    </select>
                </div>
            </div>
            <div class="home-filters__select-wrapper">
                <div class="custom-select">
                    <select name="period" class="js-custom-select">
                        <option value="" placeholder>
                            Период выпуска
                        </option>
                        <option value="1">
                            Период выпуска 1
                        </option>
                        <option value="2">
                            Период выпуска 2
                        </option>
                        <option value="3">
                            Период выпуска 3
                        </option>
                        <option value="4">
                            Период выпуска 4
                        </option>
                    </select>
                </div>
            </div>
            <button type="submit" class="home-filters__submit">
                Найти
            </button>
        </form>
    </div>
</section>

<section class="advantages">
    <div class="container">
        <ul class="advantages__list">
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <img src="img/advantages/10years.png" alt=""
                        class="advantages__card-icon advantages__card-icon--special">
                    <div class="advantages__card-content advantages__card-content--special">

                        <div class="advantages__card-text">
                            <p>
                                лет на рынке<br> автоэлектрики
                            </p>
                        </div>
                    </div>
                </div>

            </li>
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <img src="img/advantages/1.svg" alt="" class="advantages__card-icon">
                    <div class="advantages__card-content">
                        <div class="advantages__card-amount">
                            2500 SKU
                        </div>
                        <div class="advantages__card-text">
                            <p>
                                товарных единиц продукции
                            </p>
                        </div>
                    </div>
                </div>

            </li>
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <img src="img/advantages/2.svg" alt="" class="advantages__card-icon">
                    <div class="advantages__card-content">

                        <div class="advantages__card-text">
                            <p>
                                Расширенная гарантия на всю продукция
                                с момента продажи
                            </p>
                        </div>
                    </div>
                </div>

            </li>
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <img src="img/advantages/3.svg" alt="" class="advantages__card-icon">
                    <div class="advantages__card-content">

                        <div class="advantages__card-text">
                            <p>
                                Специализированный производитель и поставщик Автоэлектрики
                            </p>
                        </div>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</section>


<section class="categories">
    <div class="container">
        <h2 class="categories__heading">
            Категории
        </h2>
        <ul class="categories__list">
            <li class="categories__list-item categories__list-item--large">
                <a href="#" class="categories__card">


                    <picture>
                        <source data-srcset="img/categories/1-mobile.jpg" media="(max-width: 640px)">
                        <img data-src="img/categories/1.jpg" alt="" class="lazyload categories__card-image"
                            data-sizes="auto">
                    </picture>
                    <h4 class="categories__card-title">
                        Генераторы

                        <div class="categories__card-arrow">
                            <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </div>
                    </h4>
                </a>
            </li>
            <li class="categories__list-item">
                <a href="#" class="categories__card">
                    <img data-src="img/categories/2.jpg" alt="" class="lazyload categories__card-image">
                    <h4 class="categories__card-title">
                        Клапаны фаз ГРМ

                        <div class="categories__card-arrow">
                            <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </div>
                    </h4>
                </a>
            </li>
            <li class="categories__list-item">
                <a href="#" class="categories__card">
                    <img data-src="img/categories/3.jpg" alt="" class="lazyload categories__card-image">
                    <h4 class="categories__card-title">
                        Катушки

                        <div class="categories__card-arrow">
                            <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </div>
                    </h4>
                </a>
            </li>
            <li class="categories__list-item">
                <a href="#" class="categories__card">
                    <img data-src="img/categories/4.jpg" alt="" class="lazyload categories__card-image">
                    <h4 class="categories__card-title">
                        Катушки

                        <div class="categories__card-arrow">
                            <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </div>
                    </h4>
                </a>
            </li>
            <li class="categories__list-item">
                <a href="#" class="categories__card">
                    <img data-src="img/categories/5.jpg" alt="" class="lazyload categories__card-image">
                    <h4 class="categories__card-title">
                        Детали системы стеклоочистителя

                        <div class="categories__card-arrow">
                            <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </div>
                    </h4>
                </a>
            </li>
            <li class="categories__list-item categories__list-item--large">
                <a href="#" class="categories__card">
                    <picture>
                        <source data-srcset="img/categories/1-mobile.jpg" media="(max-width: 640px)">
                        <img data-src="img/categories/1.jpg" alt="" class="lazyload categories__card-image"
                            data-sizes="auto">
                    </picture>
                    <h4 class="categories__card-title">
                        Стартеры

                        <div class="categories__card-arrow">
                            <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </div>
                    </h4>
                </a>
            </li>
            <li class="categories__list-item">
                <a href="#" class="categories__card">
                    <img data-src="img/categories/7.jpg" alt="" class="lazyload categories__card-image">
                    <h4 class="categories__card-title">
                        Клеммы

                        <div class="categories__card-arrow">
                            <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </div>
                    </h4>
                </a>
            </li>
            <li class="categories__list-item">
                <a href="#" class="categories__card">
                    <img data-src="img/categories/8.jpg" alt="" class=" lazyload categories__card-image">
                    <h4 class="categories__card-title">
                        Детали системы стеклоочистителя

                        <div class="categories__card-arrow">
                            <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </div>
                    </h4>
                </a>
            </li>
            <li class="categories__list-item">
                <a href="#" class="categories__card">
                    <img data-src="img/categories/9.jpg" alt="" class="lazyload categories__card-image">
                    <h4 class="categories__card-title">
                        Свечи накаливания

                        <div class="categories__card-arrow">
                            <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </div>
                    </h4>
                </a>
            </li>
            <li class="categories__list-item">
                <a href="#" class="categories__card">
                    <img data-src="img/categories/10.jpg" alt="" class="lazyload categories__card-image">
                    <h4 class="categories__card-title">
                        Насосы отопителя и охлаждения

                        <div class="categories__card-arrow">
                            <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </div>
                    </h4>
                </a>
            </li>
            <li class="categories__list-item">
                <a href="#" class="categories__card">
                    <img data-src="img/categories/11.jpg" alt="" class="lazyload categories__card-image">
                    <h4 class="categories__card-title">
                        Свечи накаливания

                        <div class="categories__card-arrow">
                            <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </div>
                    </h4>
                </a>
            </li>
            <li class="categories__list-item">
                <a href="#" class="categories__card">
                    <img data-src="img/categories/12.jpg" alt="" class="lazyload categories__card-image">
                    <h4 class="categories__card-title">
                        Насосы

                        <div class="categories__card-arrow">
                            <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </div>
                    </h4>
                </a>
            </li>
            <li class="categories__list-item">
                <a href="#" class="categories__card">
                    <img data-src="img/categories/13.jpg" alt="" class="lazyload categories__card-image">
                    <h4 class="categories__card-title">
                        Лямбда зонды

                        <div class="categories__card-arrow">
                            <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </div>
                    </h4>
                </a>
            </li>
            <li class="categories__list-item">
                <a href="#" class="categories__new-card">

                    <div class="categories__new-card-content">
                        Смотреть новинки
                    </div>
                </a>
            </li>
        </ul>
        <a href="#" class="categories__show-all">
            смотреть Весь каталог
        </a>
    </div>
</section>


<section class="presentation">
    <div class="container">
        <div class="presentation__row">
            <div class="presentation__left-col">
                <h2 class="presentation__heading">
                    <strong>
                        STARTVOLT —
                    </strong>

                    состоит в портфеле брендов холдинга "КАРВИЛЬ
                </h2>
                <ul class="presentation__companies-list">
                    <li class="presentation__companies-list-item">
                        <a href="#" class="presentation__companies-link">
                            <img src="img/companies/1.svg" alt="" class="presentation__companies-link-icon">
                        </a>
                    </li>
                    <li class="presentation__companies-list-item">
                        <a href="#" class="presentation__companies-link">
                            <img src="img/companies/2.svg" alt="" class="presentation__companies-link-icon">
                        </a>
                    </li>
                    <li class="presentation__companies-list-item">
                        <a href="#" class="presentation__companies-link">
                            <img src="img/companies/3.svg" alt="" class="presentation__companies-link-icon">
                        </a>
                    </li>
                    <li class="presentation__companies-list-item">
                        <a href="#" class="presentation__companies-link">
                            <img src="img/companies/4.svg" alt="" class="presentation__companies-link-icon">
                        </a>
                    </li>
                    <li class="presentation__companies-list-item">
                        <a href="#" class="presentation__companies-link">
                            <img src="img/companies/5.svg" alt="" class="presentation__companies-link-icon">
                        </a>
                    </li>
                    <li class="presentation__companies-list-item">
                        <a href="#" class="presentation__companies-link">
                            <img src="img/companies/6.svg" alt="" class="presentation__companies-link-icon">
                        </a>
                    </li>
                </ul>
                <div class="presentation__buttons">
                    <a href="#" class="presentation__watch-btn">
                        Смотреть презентацию (PDF)
                    </a>
                    <a href="#" class="presentation__download-btn">
                        <svg width="14" height="14" aria-hidden="true" class="icon-download">
                            <use xlink:href="#download"></use>
                        </svg>
                        Скачать
                    </a>
                </div>
            </div>
            <div class="presentation__right-col">
                <a href="https://www.youtube.com/watch?v=xJZa2_aldDs" class="presentation__video-wrapper" data-fancybox="">
                    <img src="img/categories/1.jpg" alt="">
                    <svg width="14" height="14" aria-hidden="true" class="icon-play">
                        <use xlink:href="#play"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="news">
    <div class="container">
        <h2 class="news__heading">
            Новости
        </h2>
        <div class="news__slider js-news-slider">
            <div class="swiper-container">
                <ul class="swiper-wrapper news__list">
                    <li class="swiper-slide news__list-item">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">
                                <img src="img/news/1.jpg" alt="" class="news__slider-card-image">
                            </div>
                            <h4 class="news__slider-card-title">
                                Новинки STARTVOLT декабря 2020 года
                            </h4>
                            <div class="news__slider-card-text">
                                <p>
                                    Представляем все новинки STARTVOLT за декабрь 2020 года
                                </p>
                            </div>
                            <div class="news__slider-card-date">
                                14/03/2020
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide news__list-item">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">
                                <img src="img/news/2.jpg" alt="" class="news__slider-card-image">
                            </div>
                            <h4 class="news__slider-card-title">
                                Новинки STARTVOLT декабря 2020 года
                            </h4>
                            <div class="news__slider-card-text">
                                <p>
                                    Представляем все новинки STARTVOLT за декабрь 2020 года
                                </p>
                            </div>
                            <div class="news__slider-card-date">
                                14/03/2020
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide news__list-item">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">
                                <img src="img/news/3.jpg" alt="" class="news__slider-card-image">
                            </div>
                            <h4 class="news__slider-card-title">
                                Новинки STARTVOLT декабря 2020 года
                            </h4>
                            <div class="news__slider-card-text">
                                <p>
                                    Представляем все новинки STARTVOLT за декабрь 2020 года
                                </p>
                            </div>
                            <div class="news__slider-card-date">
                                14/03/2020
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide news__list-item">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">
                                <img src="img/news/4.jpg" alt="" class="news__slider-card-image">
                            </div>
                            <h4 class="news__slider-card-title">
                                Новинки STARTVOLT декабря 2020 года
                            </h4>
                            <div class="news__slider-card-text">
                                <p>
                                    Представляем все новинки STARTVOLT за декабрь 2020 года
                                </p>
                            </div>
                            <div class="news__slider-card-date">
                                14/03/2020
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}