{{#extend "layout"}}
{{#content "main"}}


{{> search-panel }}

<div class="page-title">
    <div class="container">


        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                главная
            </a>
            <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                <use xlink:href="#breadcrumbs-arrow"></use>
            </svg>
            <a href="#" class="breadcrumbs__link active">
                материалы
            </a>
        </div>
        <div class="page-title__row">
            <h1 class="page-title__heading">
                Материалы
            </h1>
            <form action="/" method="GET" class="page-title__search-form">
                <input type="search" name="q" class="page-title__search-form-input" placeholder="Поиск">
                <button class="page-title__search-form-submit" type="submit">
                    <svg width="14" height="14" aria-hidden="true" class="icon-search">
                        <use xlink:href="#search"></use>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</div>

<div class="materials">
    <div class="container">
        <div class="materials__row">
            <div class="materials__left-col">
                <ul class="materials__nav-list">
                    <li class="materials__nav-list-item active">
                        <a href="#" class="materials__nav-link">
                            Общие
                        </a>
                    </li>
                    <li class="materials__nav-list-item">
                        <a href="#" class="materials__nav-link">
                            Метрические данные
                        </a>
                    </li>
                    <li class="materials__nav-list-item">
                        <a href="#" class="materials__nav-link">
                            Фотографии
                        </a>
                    </li>
                    <li class="materials__nav-list-item">
                        <a href="#" class="materials__nav-link">
                            Видеообзоры
                        </a>
                    </li>
                    <li class="materials__nav-list-item">
                        <a href="#" class="materials__nav-link">
                            Сертификаты
                        </a>
                    </li>
                    <li class="materials__nav-list-item">
                        <a href="#" class="materials__nav-link">
                            Инструкции
                        </a>
                    </li>
                    <li class="materials__nav-list-item">
                        <a href="#" class="materials__nav-link">
                            Реклама
                        </a>
                    </li>
                </ul>
            </div>
            <div class="materials__right-col">
                <h2 class="materials__current-category">
                    Общие материалы
                </h2>
                <ul class="materials__list">
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Прайс-лист

                            <svg width="14" height="14" aria-hidden="true" class="icon-external-link">
                                <use xlink:href="#external-link"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Прайс-лист

                            <svg width="14" height="14" aria-hidden="true" class="icon-external-link">
                                <use xlink:href="#external-link"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Прайс-лист

                            <svg width="14" height="14" aria-hidden="true" class="icon-external-link">
                                <use xlink:href="#external-link"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Прайс-лист

                            <svg width="14" height="14" aria-hidden="true" class="icon-external-link">
                                <use xlink:href="#external-link"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Прайс-лист

                            <svg width="14" height="14" aria-hidden="true" class="icon-external-link">
                                <use xlink:href="#external-link"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Прайс-лист

                            <svg width="14" height="14" aria-hidden="true" class="icon-external-link">
                                <use xlink:href="#external-link"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Прайс-лист

                            <svg width="14" height="14" aria-hidden="true" class="icon-external-link">
                                <use xlink:href="#external-link"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Прайс-лист

                            <svg width="14" height="14" aria-hidden="true" class="icon-external-link">
                                <use xlink:href="#external-link"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Прайс-лист

                            <svg width="14" height="14" aria-hidden="true" class="icon-external-link">
                                <use xlink:href="#external-link"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Прайс-лист

                            <svg width="14" height="14" aria-hidden="true" class="icon-external-link">
                                <use xlink:href="#external-link"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Прайс-лист

                            <svg width="14" height="14" aria-hidden="true" class="icon-external-link">
                                <use xlink:href="#external-link"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Прайс-лист

                            <svg width="14" height="14" aria-hidden="true" class="icon-external-link">
                                <use xlink:href="#external-link"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            YML ссылка продукции

                            <svg width="14" height="14" aria-hidden="true" class="icon-external-link">
                                <use xlink:href="#external-link"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Прайс-лист

                            <svg width="14" height="14" aria-hidden="true" class="icon-external-link">
                                <use xlink:href="#external-link"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Прайс-лист

                            <svg width="14" height="14" aria-hidden="true" class="icon-external-link">
                                <use xlink:href="#external-link"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


{{/content}}
{{/extend}}