{{#extend "layout"}}
{{#content "main"}}


{{> search-panel }}

<div class="page-title">
    <div class="container">


        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                главная
            </a>
            <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                <use xlink:href="#breadcrumbs-arrow"></use>
            </svg>
            <a href="#" class="breadcrumbs__link active">
                новости
            </a>
        </div>
        <div class="page-title__row">
            <h1 class="page-title__heading">
                Новости
            </h1>
            <div class="page-title__filter">
                <select name="date" class="js-custom-select">
                    <option value="Архив 2009 — 2021">Архив 2009 — 2021</option>
                    <option value="Архив 2009 — 2021">Архив 2009 — 2021</option>
                    <option value="Архив 2009 — 2021">Архив 2009 — 2021</option>
                    <option value="Архив 2009 — 2021">Архив 2009 — 2021</option>
                </select>
            </div>
        </div>
    </div>
</div>


<div class="news-catalog">
    <div class="container">
        <div class="news-catalog__row">
            <div class="news-catalog__left-col">
                <ul class="news-catalog__nav-list">
                    <li class="news-catalog__nav-list-item active">
                        <a href="#" class="news-catalog__nav-link">
                            Все темы
                        </a>
                    </li>
                    <li class="news-catalog__nav-list-item">
                        <a href="#" class="news-catalog__nav-link">
                            Мероприятия
                        </a>
                    </li>
                    <li class="news-catalog__nav-list-item">
                        <a href="#" class="news-catalog__nav-link">
                            Новинки
                        </a>
                    </li>
                </ul>
            </div>
            <div class="news-catalog__right-col">
                <ul class="news-catalog__list">
                    <li class="news-catalog__list-item">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">
                                <img src="img/news/2.jpg" alt="" class="news__slider-card-image">
                            </div>
                            <h4 class="news__slider-card-title">
                                Новинки STARTVOLT декабря 2020 года
                            </h4>
                            <div class="news__slider-card-text">
                                <p>
                                    Представляем все новинки STARTVOLT за декабрь 2020 года
                                </p>
                            </div>
                            <div class="news__slider-card-date">
                                14/03/2020
                            </div>
                        </a>
                    </li>
                    <li class="news-catalog__list-item">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">
                                <img src="img/news/3.jpg" alt="" class="news__slider-card-image">
                            </div>
                            <h4 class="news__slider-card-title">
                                Новинки STARTVOLT декабря 2020 года
                            </h4>
                            <div class="news__slider-card-text">
                                <p>
                                    Представляем все новинки STARTVOLT за декабрь 2020 года
                                </p>
                            </div>
                            <div class="news__slider-card-date">
                                14/03/2020
                            </div>
                        </a>
                    </li>
                    <li class="news-catalog__list-item">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">
                                <img src="img/news/4.jpg" alt="" class="news__slider-card-image">
                            </div>
                            <h4 class="news__slider-card-title">
                                Новинки STARTVOLT декабря 2020 года
                            </h4>
                            <div class="news__slider-card-text">
                                <p>
                                    Представляем все новинки STARTVOLT за декабрь 2020 года
                                </p>
                            </div>
                            <div class="news__slider-card-date">
                                14/03/2020
                            </div>
                        </a>
                    </li>
                    <li class="news-catalog__list-item">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">
                                <img src="img/news/2.jpg" alt="" class="news__slider-card-image">
                            </div>
                            <h4 class="news__slider-card-title">
                                Новинки STARTVOLT декабря 2020 года
                            </h4>
                            <div class="news__slider-card-text">
                                <p>
                                    Представляем все новинки STARTVOLT за декабрь 2020 года
                                </p>
                            </div>
                            <div class="news__slider-card-date">
                                14/03/2020
                            </div>
                        </a>
                    </li>
                    <li class="news-catalog__list-item">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">
                                <img src="img/news/3.jpg" alt="" class="news__slider-card-image">
                            </div>
                            <h4 class="news__slider-card-title">
                                Новинки STARTVOLT декабря 2020 года
                            </h4>
                            <div class="news__slider-card-text">
                                <p>
                                    Представляем все новинки STARTVOLT за декабрь 2020 года
                                </p>
                            </div>
                            <div class="news__slider-card-date">
                                14/03/2020
                            </div>
                        </a>
                    </li>
                    <li class="news-catalog__list-item">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">
                                <img src="img/news/4.jpg" alt="" class="news__slider-card-image">
                            </div>
                            <h4 class="news__slider-card-title">
                                Новинки STARTVOLT декабря 2020 года
                            </h4>
                            <div class="news__slider-card-text">
                                <p>
                                    Представляем все новинки STARTVOLT за декабрь 2020 года
                                </p>
                            </div>
                            <div class="news__slider-card-date">
                                14/03/2020
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="pagination">
                    <a href="#" class="pagination__prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </a>
                    <div class="pagination__links">
                        <a href="#" class="pagination__link active">
                            1
                        </a>
                        <a href="#" class="pagination__link">
                            2
                        </a>
                        <a href="#" class="pagination__link">
                            3
                        </a>
                        <a href="#" class="pagination__link">
                            4
                        </a>
                        <a href="#" class="pagination__link">
                            ...
                        </a>
                        <a href="#" class="pagination__link">
                            32
                        </a>
                    </div>
                    <a href="#" class="pagination__next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



{{/content}}
{{/extend}}