{{#extend "layout"}}
{{#content "main"}}


{{> search-panel }}

<div class="page-title">
    <div class="container">


        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                главная
            </a>
            <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                <use xlink:href="#breadcrumbs-arrow"></use>
            </svg>
            <a href="#" class="breadcrumbs__link active">
                точки продаж
            </a>
        </div>
        <div class="page-title__row">
            <h1 class="page-title__heading">
                Точки продаж
            </h1>
            <div class="page-title__register-office">
                <svg width="14" height="14" aria-hidden="true" class="icon-map">
                    <use xlink:href="#map"></use>
                </svg>
                <div class="page-title__register-office-content">
                    <div class="page-title__register-office-text">
                        <p>
                            Хотите разместить свою точку продаж? Заполните небольшую анкету – мы свяжемся с вами в
                            ближайшее время.
                        </p>
                    </div>
                    <a href="#office-modal" class="page-title__register-office-link js-open-modal">
                        Отправить заявку
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="offices-new">
    <div class="container">
        <div class="offices-new__list-view">
            <div class="offices-new__list-view-top-panel">
                <div class="offices-new__list-view-nav">
                    <a href="#" class="offices-new__list-view-nav-link active">
                        Дистрибьюторы
                    </a>
                    <a href="#" class="offices-new__list-view-nav-link">
                        розница
                    </a>
                    <a href="#" class="offices-new__list-view-nav-link">
                        онлайн
                    </a>

                </div>
                <form method="GET" action="/" class="offices-new__list-view-filters">
                    <div class="offices-new__list-view-filter-select">
                        <div class="custom-select">
                            <select name="country" class="js-custom-select">
                                <option value="" placeholder>
                                    Все страны
                                </option>
                                <option value="1">
                                    Россия
                                </option>
                                <option value="2">
                                    Казахстан
                                </option>

                            </select>
                        </div>
                    </div>
                    <div class="offices-new__list-view-filter-select">
                        <div class="custom-select">
                            <select name="city" class="js-custom-select">
                                <option value="" placeholder>
                                    Все города
                                </option>
                                <option value="1">
                                    Москва
                                </option>
                                <option value="2">
                                    Казань
                                </option>

                            </select>
                        </div>
                    </div>
                </form>

                <div class="offices-new__map-modes offices-new__map-modes--static">
                    <a href="#" class="offices-new__map-modes-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-mode-map">
                            <use xlink:href="#mode-map"></use>
                        </svg>
                        <span class="offices-new__map-modes-text">
                            На карте
                        </span>

                    </a>
                    <a href="#" class="offices-new__map-modes-link active">
                        <svg width="14" height="14" aria-hidden="true" class="icon-mode-list">
                            <use xlink:href="#mode-list"></use>
                        </svg>

                        <span class="offices-new__map-modes-text">
                            списком
                        </span>
                    </a>
                </div>
            </div>
            <div class="offices-new__list-view-results">
                <div class="offices-new__list-view-legend">
                    <div class="offices-new__list-view-legend-text">
                        Название
                    </div>
                    <div class="offices-new__list-view-legend-text">
                        Адрес
                    </div>
                    <div class="offices-new__list-view-legend-text">
                        Cайт
                    </div>
                </div>
                <ul class="offices-new__list-view-results-list">
                    <li class="offices-new__list-view-results-list-item">
                        <div class="offices-new__list-view-results-card">
                            <h4 class="offices-new__list-view-results-card-title">
                                IXORA
                            </h4>

                            <div class="offices-new__list-view-results-card-info">
                                <a href="#" class="offices-new__list-view-results-card-info-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-location">
                                        <use xlink:href="#location"></use>
                                    </svg>
                                    <div class="offices-new__list-view-results-card-info-item-text">
                                        Россия, Тамбов, ул. К.Маркса, 32
                                    </div>
                                </a>
                                <a href="tel:79181111522" class="offices-new__list-view-results-card-info-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-phone">
                                        <use xlink:href="#phone"></use>
                                    </svg>
                                    <div class="offices-new__list-view-results-card-info-item-text">
                                        +7 (918) 111-15-22
                                    </div>
                                </a>
                                <div class="offices-new__list-view-results-card-info-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-clock">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                    <div class="offices-new__list-view-results-card-info-item-text">
                                        Пн-Пт с 9:00 до 19:00, Сб с 9:00 до 17:00, Вс - выходной
                                    </div>
                                </div>

                            </div>
                            <div class="offices-new__list-view-results-card-website">
                                <a href="#" class="offices-new__list-view-results-card-website-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-globe">
                                        <use xlink:href="#globe"></use>
                                    </svg>
                                    <span class="offices-new__list-view-results-card-website-text">
                                        220-volt.ru
                                    </span>

                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="offices-new__list-view-results-list-item">
                        <div class="offices-new__list-view-results-card">
                            <h4 class="offices-new__list-view-results-card-title">
                                IXORA
                            </h4>

                            <div class="offices-new__list-view-results-card-info">
                                <a href="#" class="offices-new__list-view-results-card-info-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-location">
                                        <use xlink:href="#location"></use>
                                    </svg>
                                    <div class="offices-new__list-view-results-card-info-item-text">
                                        Россия, Тамбов, ул. К.Маркса, 32
                                    </div>
                                </a>
                                <a href="tel:79181111522" class="offices-new__list-view-results-card-info-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-phone">
                                        <use xlink:href="#phone"></use>
                                    </svg>
                                    <div class="offices-new__list-view-results-card-info-item-text">
                                        +7 (918) 111-15-22
                                    </div>
                                </a>
                                <div class="offices-new__list-view-results-card-info-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-clock">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                    <div class="offices-new__list-view-results-card-info-item-text">
                                        Пн-Пт с 9:00 до 19:00, Сб с 9:00 до 17:00, Вс - выходной
                                    </div>
                                </div>

                            </div>
                            <div class="offices-new__list-view-results-card-website">
                                <a href="#" class="offices-new__list-view-results-card-website-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-globe">
                                        <use xlink:href="#globe"></use>
                                    </svg>
                                    <span class="offices-new__list-view-results-card-website-text">
                                        220-volt.ru
                                    </span>

                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="offices-new__list-view-results-list-item">
                        <div class="offices-new__list-view-results-card">
                            <h4 class="offices-new__list-view-results-card-title">
                                IXORA
                            </h4>

                            <div class="offices-new__list-view-results-card-info">
                                <a href="#" class="offices-new__list-view-results-card-info-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-location">
                                        <use xlink:href="#location"></use>
                                    </svg>
                                    <div class="offices-new__list-view-results-card-info-item-text">
                                        Россия, Тамбов, ул. К.Маркса, 32
                                    </div>
                                </a>
                                <a href="tel:79181111522" class="offices-new__list-view-results-card-info-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-phone">
                                        <use xlink:href="#phone"></use>
                                    </svg>
                                    <div class="offices-new__list-view-results-card-info-item-text">
                                        +7 (918) 111-15-22
                                    </div>
                                </a>
                                <div class="offices-new__list-view-results-card-info-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-clock">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                    <div class="offices-new__list-view-results-card-info-item-text">
                                        Пн-Пт с 9:00 до 19:00, Сб с 9:00 до 17:00, Вс - выходной
                                    </div>
                                </div>

                            </div>
                            <div class="offices-new__list-view-results-card-website">
                                <a href="#" class="offices-new__list-view-results-card-website-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-globe">
                                        <use xlink:href="#globe"></use>
                                    </svg>
                                    <span class="offices-new__list-view-results-card-website-text">
                                        220-volt.ru
                                    </span>

                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="offices-new__list-view-results-list-item">
                        <div class="offices-new__list-view-results-card">
                            <h4 class="offices-new__list-view-results-card-title">
                                IXORA
                            </h4>

                            <div class="offices-new__list-view-results-card-info">
                                <a href="#" class="offices-new__list-view-results-card-info-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-location">
                                        <use xlink:href="#location"></use>
                                    </svg>
                                    <div class="offices-new__list-view-results-card-info-item-text">
                                        Россия, Тамбов, ул. К.Маркса, 32
                                    </div>
                                </a>
                                <a href="tel:79181111522" class="offices-new__list-view-results-card-info-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-phone">
                                        <use xlink:href="#phone"></use>
                                    </svg>
                                    <div class="offices-new__list-view-results-card-info-item-text">
                                        +7 (918) 111-15-22
                                    </div>
                                </a>
                                <div class="offices-new__list-view-results-card-info-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-clock">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                    <div class="offices-new__list-view-results-card-info-item-text">
                                        Пн-Пт с 9:00 до 19:00, Сб с 9:00 до 17:00, Вс - выходной
                                    </div>
                                </div>

                            </div>
                            <div class="offices-new__list-view-results-card-website">
                                <a href="#" class="offices-new__list-view-results-card-website-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-globe">
                                        <use xlink:href="#globe"></use>
                                    </svg>
                                    <span class="offices-new__list-view-results-card-website-text">
                                        220-volt.ru
                                    </span>

                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="offices-new__list-view-results-list-item">
                        <div class="offices-new__list-view-results-card">
                            <h4 class="offices-new__list-view-results-card-title">
                                IXORA
                            </h4>

                            <div class="offices-new__list-view-results-card-info">
                                <a href="#" class="offices-new__list-view-results-card-info-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-location">
                                        <use xlink:href="#location"></use>
                                    </svg>
                                    <div class="offices-new__list-view-results-card-info-item-text">
                                        Россия, Тамбов, ул. К.Маркса, 32
                                    </div>
                                </a>
                                <a href="tel:79181111522" class="offices-new__list-view-results-card-info-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-phone">
                                        <use xlink:href="#phone"></use>
                                    </svg>
                                    <div class="offices-new__list-view-results-card-info-item-text">
                                        +7 (918) 111-15-22
                                    </div>
                                </a>
                                <div class="offices-new__list-view-results-card-info-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-clock">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                    <div class="offices-new__list-view-results-card-info-item-text">
                                        Пн-Пт с 9:00 до 19:00, Сб с 9:00 до 17:00, Вс - выходной
                                    </div>
                                </div>

                            </div>
                            <div class="offices-new__list-view-results-card-website">
                                <a href="#" class="offices-new__list-view-results-card-website-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-globe">
                                        <use xlink:href="#globe"></use>
                                    </svg>
                                    <span class="offices-new__list-view-results-card-website-text">
                                        220-volt.ru
                                    </span>

                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="pagination pagination--centered">
                    <a href="#" class="pagination__prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </a>
                    <div class="pagination__links">
                        <a href="#" class="pagination__link active">
                            1
                        </a>
                        <a href="#" class="pagination__link">
                            2
                        </a>
                        <a href="#" class="pagination__link">
                            3
                        </a>
                        <a href="#" class="pagination__link">
                            4
                        </a>
                        <form action="/" method="GET" class="pagination__form">
                            №
                            <input type="tel" class="pagination__form-input js-numeric-input">
                        </form>

                        <a href="#" class="pagination__link">
                            32
                        </a>
                    </div>
                    <a href="#" class="pagination__next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{{/content}}
{{/extend}}