{{#extend "layout"}}
{{#content "main"}}

{{> search-panel }}

<div class="page-title">
    <div class="container">


        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                главная
            </a>
            <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                <use xlink:href="#breadcrumbs-arrow"></use>
            </svg>
            <a href="#" class="breadcrumbs__link">
                каталог
            </a>
            <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                <use xlink:href="#breadcrumbs-arrow"></use>
            </svg>
            <a href="#" class="breadcrumbs__link active">
                Генератор для автомобилей ГАЗ/Урал/ПАЗ с дв. ЯМЗ-534/536 100А
            </a>
        </div>
        <div class="page-title__row">
            <h1 class="page-title__heading">
                Генератор для автомобилей ГАЗ/Урал/ПАЗ с дв. ЯМЗ-534/536 100А
            </h1>

        </div>
    </div>
</div>

<section class="product">
    <div class="container">
        <div class="product__row">
            <div class="product__gallery js-product-gallery">
                <div class="product__gallery-main-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="product__gallery-main-slider-card">
                                    <img src="img/product.jpg" alt="" class="product__gallery-main-slider-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product__gallery-main-slider-card">
                                    <img src="img/product.jpg" alt="" class="product__gallery-main-slider-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product__gallery-main-slider-card">
                                    <img src="img/product.jpg" alt="" class="product__gallery-main-slider-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product__gallery-main-slider-card">
                                    <img src="img/product.jpg" alt="" class="product__gallery-main-slider-card-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__gallery-thumbs-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="product__gallery-thumbs-slider-card">
                                    <img src="img/product.jpg" alt="" class="product__gallery-thumbs-slider-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product__gallery-thumbs-slider-card">
                                    <img src="img/product.jpg" alt="" class="product__gallery-thumbs-slider-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product__gallery-thumbs-slider-card">
                                    <img src="img/product.jpg" alt="" class="product__gallery-thumbs-slider-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product__gallery-thumbs-slider-card">
                                    <img src="img/product.jpg" alt="" class="product__gallery-thumbs-slider-card-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product__main-info">
                <a href="#" class="product__main-code js-copy-code" data-code="LG 0334">
                    <span class="product__main-code-text">
                        Код товара: <strong>LG 0334</strong>
                    </span>


                    <svg width="14" height="14" aria-hidden="true" class="icon-copy">
                        <use xlink:href="#copy"></use>
                    </svg>
                </a>
                <div class="product__specs-table">
                    <table>
                        <tbody>
                            <tr>
                                <th>
                                    Выходной ток, А
                                </th>
                                <td>
                                    100
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Номинальное напряжение, В
                                </th>
                                <td>
                                    28
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Регулируемое напряжение, В
                                </th>
                                <td>
                                    28,8
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Количество ручьев шкива
                                </th>
                                <td>
                                    6PK
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Тип подключения
                                </th>
                                <td>
                                    D+
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="product__specs-description">
                    <p>
                        Производитель оставляет за собой право вносить изменения в конструкцию, дизайн (изменение
                        внешнего вида) и комплектацию изделия без предварительного уведомления
                    </p>
                </div>
                <div class="product__codes">
                    <div class="product__codes-item js-product-codes">
                        <h3 class="product__codes-heading">
                            OEM номер
                        </h3>
                        <div class="product__codes-content">
                            11.204.260 5340.3701010 AAN 8172 4512.3771-01 4512.3771010-01 11.204.260 5340.3701010 AAN
                            8172 4512.3771-01 4512.3771010-01 11.204.260 5340.3701010 AAN 8172 4512.3771-01
                            4512.3771010-01 11.204.260 5340.3701010 AAN 8172 4512.3771-01 4512.3771010-01
                        </div>
                        <a href="#" class="product__codes-show-all">
                            Показать все
                        </a>
                    </div>
                    <div class="product__codes-item js-product-codes">
                        <h3 class="product__codes-heading">
                            Кросс-коды
                        </h3>
                        <div class="product__codes-content">
                            11.204.260 5340.3701010 AAN 8172 4512.3771-01 4512.3771010-01 11.204.260 5340.3701010 AAN
                            8172 4512.3771-01 4512.3771010-01 11.204.260 5340.3701010 AAN 8172 4512.3771-01
                            4512.3771010-01 11.204.260 5340.3701010 AAN 8172 4512.3771-01 4512.3771010-01
                        </div>
                        <a href="#" class="product__codes-show-all">
                            Показать все
                        </a>
                    </div>
                </div>
                <div class="product__tabs js-product-tabs">
                    <div class="product__tabs-nav">
                        <a href="#" class="product__tabs-nav-link">
                            Применяемость
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                <use xlink:href="#arrow-down"></use>
                            </svg>
                        </a>
                        <a href="#" class="product__tabs-nav-link">
                            Комплектация
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                <use xlink:href="#arrow-down"></use>
                            </svg>
                        </a>
                        <a href="#" class="product__tabs-nav-link">
                            Документы
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                <use xlink:href="#arrow-down"></use>
                            </svg>
                        </a>

                        <a href="#" class="product__tabs-nav-link">
                            Комплектующие
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                <use xlink:href="#arrow-down"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="product__tab-items">
                        <div class="product__tab-item">
                            <div class="product__tab-item-content">
                                <div class="product__tab-item-content-inner">


                                    <div class="product__vin">
                                        <div class="product__vin-top-row">
                                            <a href="#" class="product__vin-link">
                                                Искать по VIN
                                            </a>
                                            <div class="product__vin-content">
                                                <p>
                                                    Если у Вас остались вопросы по применяемости, заполните форму
                                                    "Запрос по
                                                    VIN", чтобы наши специалисты подобрали Вам запчасть.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="product__vin-remark">
                                            <p>
                                                Информация по применяемости изделий к конкретной модели автомобиля
                                                является
                                                справочной
                                            </p>
                                        </div>
                                        <div class="product__vin-brands">
                                            <a href="#" class="product__vin-brands-link">
                                                DACIA
                                            </a>
                                            <a href="#" class="product__vin-brands-link">
                                                LADA
                                            </a>
                                            <a href="#" class="product__vin-brands-link">
                                                RENAULT
                                            </a>
                                            <a href="#" class="product__vin-brands-link">
                                                DUSTER
                                            </a>
                                            <a href="#" class="product__vin-brands-link">
                                                LOGAN
                                            </a>
                                            <a href="#" class="product__vin-brands-link">
                                                SANDERO
                                            </a>
                                        </div>
                                        <div class="product__vin-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Марка
                                                        </th>
                                                        <th>
                                                            Модель
                                                        </th>
                                                        <th>
                                                            Двигатель
                                                        </th>
                                                        <th>
                                                            Год
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            Ural
                                                        </td>
                                                        <td>
                                                            Ural-Next
                                                        </td>
                                                        <td>
                                                            ЯМЗ-536
                                                        </td>
                                                        <td>
                                                            2010
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Ural
                                                        </td>
                                                        <td>
                                                            Ural-Next
                                                        </td>
                                                        <td>
                                                            ЯМЗ-536
                                                        </td>
                                                        <td>
                                                            2010
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__tab-item ">
                            <div class="product__tab-item-content">
                                <div class="product__tab-item-content-inner">




                                    <div class="product__complect">
                                        <a href="#" class="product__complect-link">
                                            Генератор, <span class="product__complect-count">1шт.</span>
                                        </a>
                                        <a href="#" class="product__complect-link">
                                            Паспорт изделия/гарантийный талон
                                            <svg width="14" height="14" aria-hidden="true" class="icon-external-link">
                                                <use xlink:href="#external-link"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="product__complect-link">
                                            Индивидуальный технический паспорт изделия (с фирменным ID)
                                            <svg width="14" height="14" aria-hidden="true" class="icon-external-link">
                                                <use xlink:href="#external-link"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="product__complect-link">
                                            Инструкция по установке и диагностике
                                            <svg width="14" height="14" aria-hidden="true" class="icon-external-link">
                                                <use xlink:href="#external-link"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__tab-item ">
                            <div class="product__tab-item-content">
                                <div class="product__tab-item-content-inner">


                                    <div class="product__complect">
                                        <a href="#" class="product__complect-link">
                                            Сертификат
                                            <svg width="14" height="14" aria-hidden="true" class="icon-external-link">
                                                <use xlink:href="#external-link"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="product__complect-link">
                                            Сертификат
                                            <svg width="14" height="14" aria-hidden="true" class="icon-external-link">
                                                <use xlink:href="#external-link"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="product__complect-link">
                                            Сертификат
                                            <svg width="14" height="14" aria-hidden="true" class="icon-external-link">
                                                <use xlink:href="#external-link"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="product__complect-link">
                                            Сертификат
                                            <svg width="14" height="14" aria-hidden="true" class="icon-external-link">
                                                <use xlink:href="#external-link"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__tab-item ">
                            <div class="product__tab-item-content">
                                <div class="product__tab-item-content-inner">


                                    <div class="product__components">
                                        <ul class="product__components-list">
                                            <li class="product__components-list-item">
                                                <div class="catalog__main-products-card">
                                                    <a href="#" class="catalog__main-products-card-image-container">
                                                        <img data-src="img/card.jpg" alt=""
                                                            class="lazyload catalog__main-products-card-image">
                                                    </a>
                                                    <div class="catalog__main-products-card-info">
                                                        <h4 class="catalog__main-products-card-title">
                                                            <a href="#">
                                                                Генератор для автомобиля Лада 2110/2113/2170 140А
                                                            </a>

                                                        </h4>
                                                        <a href="#"
                                                            class="catalog__main-products-card-code js-copy-code"
                                                            data-code="АЕАТ3002">
                                                            <span class="catalog__main-products-card-code-text">
                                                                Код товара: <strong>АЕАТ3002</strong>
                                                            </span>

                                                            <svg width="14" height="14" aria-hidden="true"
                                                                class="icon-copy">
                                                                <use xlink:href="#copy"></use>
                                                            </svg>
                                                        </a>
                                                        <a href="#" class="catalog__main-products-card-serials">
                                                            <p>
                                                                OEM НОМЕР: SMD354804, MD 313937, MD 314375, MD 354804,
                                                                A003TA0491, A003TA0491A,
                                                                A003TA2391, A003TA2391A, A003TA2391AM, A005TA0391,
                                                                A005TA...
                                                            </p>
                                                        </a>
                                                        <a href="#" class="catalog__main-products-card-brand">
                                                            <div class="catalog__main-products-card-brand-name">
                                                                GAZ
                                                            </div>
                                                            <div class="catalog__main-products-card-brand-models">
                                                                <div class="catalog__main-products-card-brand-model">
                                                                    VOLGA
                                                                </div>
                                                                <div class="catalog__main-products-card-brand-model">
                                                                    VOLGA (3102)
                                                                </div>
                                                                <div class="catalog__main-products-card-brand-model">
                                                                    VOLGA униве...
                                                                </div>
                                                                <div class="catalog__main-products-card-brand-model">
                                                                    VOLGA универсал (3102)
                                                                </div>
                                                                <div class="catalog__main-products-card-brand-model">
                                                                    SOBOL (275...
                                                                </div>
                                                            </div>
                                                        </a>

                                                        <a href="#" class="catalog__main-products-card-price">
                                                            <h5 class="catalog__main-products-card-recommended">
                                                                Рекомендуемая цена
                                                            </h5>
                                                            <div class="catalog__main-products-card-price-amount">
                                                                8 910 руб.
                                                            </div>
                                                        </a>

                                                        <a href="#"
                                                            class="catalog__main-products-card-download-materials">
                                                            Скачать материалы
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="product__components-list-item">
                                                <div class="catalog__main-products-card">
                                                    <a href="#" class="catalog__main-products-card-image-container">
                                                        <img data-src="img/card.jpg" alt=""
                                                            class="lazyload catalog__main-products-card-image">
                                                    </a>
                                                    <div class="catalog__main-products-card-info">
                                                        <h4 class="catalog__main-products-card-title">
                                                            <a href="#">
                                                                Генератор для автомобиля Лада 2110/2113/2170 140А
                                                            </a>

                                                        </h4>
                                                        <a href="#"
                                                            class="catalog__main-products-card-code js-copy-code"
                                                            data-code="АЕАТ3002">
                                                            <span class="catalog__main-products-card-code-text">
                                                                Код товара: <strong>АЕАТ3002</strong>
                                                            </span>

                                                            <svg width="14" height="14" aria-hidden="true"
                                                                class="icon-copy">
                                                                <use xlink:href="#copy"></use>
                                                            </svg>
                                                        </a>
                                                        <a href="#" class="catalog__main-products-card-serials">
                                                            <p>
                                                                OEM НОМЕР: SMD354804, MD 313937, MD 314375, MD 354804,
                                                                A003TA0491, A003TA0491A,
                                                                A003TA2391, A003TA2391A, A003TA2391AM, A005TA0391,
                                                                A005TA...
                                                            </p>
                                                        </a>
                                                        <a href="#" class="catalog__main-products-card-brand">
                                                            <div class="catalog__main-products-card-brand-name">
                                                                GAZ
                                                            </div>
                                                            <div class="catalog__main-products-card-brand-models">
                                                                <div class="catalog__main-products-card-brand-model">
                                                                    VOLGA
                                                                </div>
                                                                <div class="catalog__main-products-card-brand-model">
                                                                    VOLGA (3102)
                                                                </div>
                                                                <div class="catalog__main-products-card-brand-model">
                                                                    VOLGA униве...
                                                                </div>
                                                                <div class="catalog__main-products-card-brand-model">
                                                                    VOLGA универсал (3102)
                                                                </div>
                                                                <div class="catalog__main-products-card-brand-model">
                                                                    SOBOL (275...
                                                                </div>
                                                            </div>
                                                        </a>

                                                        <a href="#" class="catalog__main-products-card-price">
                                                            <h5 class="catalog__main-products-card-recommended">
                                                                Рекомендуемая цена
                                                            </h5>
                                                            <div class="catalog__main-products-card-price-amount">
                                                                8 910 руб.
                                                            </div>
                                                        </a>

                                                        <a href="#"
                                                            class="catalog__main-products-card-download-materials">
                                                            Скачать материалы
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product__price">
                <div class="product__price-info">
                    <div class="product__price-recommended">
                        <h3 class="product__price-recommended-title">
                            Рекомендуемая розничная цена
                        </h3>
                        <div class="product__price-recommended-amount">
                            13 570 руб.
                        </div>
                    </div>
                    <div class="product__price-collaborate">
                        <h3 class="product__price-collaborate-heading">
                            Хотите сотрудничать?
                        </h3>
                        <div class="product__price-collaborate-text">
                            <p>
                                Оставьте заявку на сотрудничество на <a
                                    href="mailto:info@airline.su">info@airline.su</a>, либо выберите дистрибьютора или
                                интернет-магазин
                            </p>
                        </div>
                    </div>
                    <a href="#" class="product__price-where-to-buy">
                        Где купить
                    </a>
                    <a href="#" class="product__price-download">
                        Скачать материалы и фото
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}