{{#extend "layout"}}
{{#content "main"}}


{{> search-panel }}

<div class="page-title">
    <div class="container">


        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                главная
            </a>
            <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                <use xlink:href="#breadcrumbs-arrow"></use>
            </svg>
            <a href="#" class="breadcrumbs__link active">
                каталог
            </a>
        </div>
        <div class="page-title__row">
            <h1 class="page-title__heading">
                По запросу «гель» найдено 48 товаров
            </h1>

        </div>
    </div>
</div>


<div class="search">
    <div class="container">
        <div class="search__found-categories">
            <a href="#" class="search__found-categories-link">
                Генераторы <span class="search__found-categories-link-count">(56)</span>
            </a>
            <a href="#" class="search__found-categories-link">
                Генераторы <span class="search__found-categories-link-count">(56)</span>
            </a>
            <a href="#" class="search__found-categories-link">
                Генераторы <span class="search__found-categories-link-count">(56)</span>
            </a>
            <a href="#" class="search__found-categories-link">
                Генераторы <span class="search__found-categories-link-count">(56)</span>
            </a>
        </div>

        <ul class="search__results-list">
            <li class="search__results-list-item">
                <div class="catalog__main-products-card">
                    <a href="#" class="catalog__main-products-card-image-container">
                        <img data-src="img/card.jpg" alt="" class="lazyload catalog__main-products-card-image">
                    </a>
                    <div class="catalog__main-products-card-info">
                        <h4 class="catalog__main-products-card-title">
                            <a href="#">
                                Генератор для автомобиля Лада 2110/2113/2170 140А
                            </a>

                        </h4>
                        <a href="#" class="catalog__main-products-card-code js-copy-code" data-code="АЕАТ3002">
                            <span class="catalog__main-products-card-code-text">
                                Код товара: <strong>АЕАТ3002</strong>
                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-copy">
                                <use xlink:href="#copy"></use>
                            </svg>
                        </a>
                        <a href="#" class="catalog__main-products-card-serials">
                            <p>
                                OEM НОМЕР: SMD354804, MD 313937, MD 314375, MD 354804, A003TA0491, A003TA0491A,
                                A003TA2391, A003TA2391A, A003TA2391AM, A005TA0391, A005TA...
                            </p>
                        </a>
                        <a href="#" class="catalog__main-products-card-brand">
                            <div class="catalog__main-products-card-brand-name">
                                GAZ
                            </div>
                            <div class="catalog__main-products-card-brand-models">
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA (3102)
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA униве...
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA универсал (3102)
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    SOBOL (275...
                                </div>
                            </div>
                        </a>

                        <a href="#" class="catalog__main-products-card-price">
                            <h5 class="catalog__main-products-card-recommended">
                                Рекомендуемая цена
                            </h5>
                            <div class="catalog__main-products-card-price-amount">
                                8 910 руб.
                            </div>
                        </a>

                        <a href="#" class="catalog__main-products-card-download-materials">
                            Скачать материалы
                        </a>
                    </div>
                </div>
            </li>
            <li class="search__results-list-item">
                <div class="catalog__main-products-card">
                    <a href="#" class="catalog__main-products-card-image-container">
                        <img data-src="img/card.jpg" alt="" class="lazyload catalog__main-products-card-image">
                    </a>
                    <div class="catalog__main-products-card-info">
                        <h4 class="catalog__main-products-card-title">
                            <a href="#">
                                Генератор для автомобиля Лада 2110/2113/2170 140А
                            </a>

                        </h4>
                        <a href="#" class="catalog__main-products-card-code js-copy-code" data-code="АЕАТ3002">
                            <span class="catalog__main-products-card-code-text">
                                Код товара: <strong>АЕАТ3002</strong>
                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-copy">
                                <use xlink:href="#copy"></use>
                            </svg>
                        </a>
                        <a href="#" class="catalog__main-products-card-serials">
                            <p>
                                OEM НОМЕР: SMD354804, MD 313937, MD 314375, MD 354804, A003TA0491, A003TA0491A,
                                A003TA2391, A003TA2391A, A003TA2391AM, A005TA0391, A005TA...
                            </p>
                        </a>
                        <a href="#" class="catalog__main-products-card-brand">
                            <div class="catalog__main-products-card-brand-name">
                                GAZ
                            </div>
                            <div class="catalog__main-products-card-brand-models">
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA (3102)
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA униве...
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA универсал (3102)
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    SOBOL (275...
                                </div>
                            </div>
                        </a>

                        <a href="#" class="catalog__main-products-card-price">
                            <h5 class="catalog__main-products-card-recommended">
                                Рекомендуемая цена
                            </h5>
                            <div class="catalog__main-products-card-price-amount">
                                8 910 руб.
                            </div>
                        </a>

                        <a href="#" class="catalog__main-products-card-download-materials">
                            Скачать материалы
                        </a>
                    </div>
                </div>
            </li>
            <li class="search__results-list-item">
                <div class="catalog__main-products-card">
                    <a href="#" class="catalog__main-products-card-image-container">
                        <img data-src="img/card.jpg" alt="" class="lazyload catalog__main-products-card-image">
                    </a>
                    <div class="catalog__main-products-card-info">
                        <h4 class="catalog__main-products-card-title">
                            <a href="#">
                                Генератор для автомобиля Лада 2110/2113/2170 140А
                            </a>

                        </h4>
                        <a href="#" class="catalog__main-products-card-code js-copy-code" data-code="АЕАТ3002">
                            <span class="catalog__main-products-card-code-text">
                                Код товара: <strong>АЕАТ3002</strong>
                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-copy">
                                <use xlink:href="#copy"></use>
                            </svg>
                        </a>
                        <a href="#" class="catalog__main-products-card-serials">
                            <p>
                                OEM НОМЕР: SMD354804, MD 313937, MD 314375, MD 354804, A003TA0491, A003TA0491A,
                                A003TA2391, A003TA2391A, A003TA2391AM, A005TA0391, A005TA...
                            </p>
                        </a>
                        <a href="#" class="catalog__main-products-card-brand">
                            <div class="catalog__main-products-card-brand-name">
                                GAZ
                            </div>
                            <div class="catalog__main-products-card-brand-models">
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA (3102)
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA униве...
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA универсал (3102)
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    SOBOL (275...
                                </div>
                            </div>
                        </a>

                        <a href="#" class="catalog__main-products-card-price">
                            <h5 class="catalog__main-products-card-recommended">
                                Рекомендуемая цена
                            </h5>
                            <div class="catalog__main-products-card-price-amount">
                                8 910 руб.
                            </div>
                        </a>

                        <a href="#" class="catalog__main-products-card-download-materials">
                            Скачать материалы
                        </a>
                    </div>
                </div>
            </li>
            <li class="search__results-list-item">
                <div class="catalog__main-products-card">
                    <a href="#" class="catalog__main-products-card-image-container">
                        <img data-src="img/card.jpg" alt="" class="lazyload catalog__main-products-card-image">
                    </a>
                    <div class="catalog__main-products-card-info">
                        <h4 class="catalog__main-products-card-title">
                            <a href="#">
                                Генератор для автомобиля Лада 2110/2113/2170 140А
                            </a>

                        </h4>
                        <a href="#" class="catalog__main-products-card-code js-copy-code" data-code="АЕАТ3002">
                            <span class="catalog__main-products-card-code-text">
                                Код товара: <strong>АЕАТ3002</strong>
                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-copy">
                                <use xlink:href="#copy"></use>
                            </svg>
                        </a>
                        <a href="#" class="catalog__main-products-card-serials">
                            <p>
                                OEM НОМЕР: SMD354804, MD 313937, MD 314375, MD 354804, A003TA0491, A003TA0491A,
                                A003TA2391, A003TA2391A, A003TA2391AM, A005TA0391, A005TA...
                            </p>
                        </a>
                        <a href="#" class="catalog__main-products-card-brand">
                            <div class="catalog__main-products-card-brand-name">
                                GAZ
                            </div>
                            <div class="catalog__main-products-card-brand-models">
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA (3102)
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA униве...
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA универсал (3102)
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    SOBOL (275...
                                </div>
                            </div>
                        </a>

                        <a href="#" class="catalog__main-products-card-price">
                            <h5 class="catalog__main-products-card-recommended">
                                Рекомендуемая цена
                            </h5>
                            <div class="catalog__main-products-card-price-amount">
                                8 910 руб.
                            </div>
                        </a>

                        <a href="#" class="catalog__main-products-card-download-materials">
                            Скачать материалы
                        </a>
                    </div>
                </div>
            </li>
            <li class="search__results-list-item">
                <div class="catalog__main-products-card">
                    <a href="#" class="catalog__main-products-card-image-container">
                        <img data-src="img/card.jpg" alt="" class="lazyload catalog__main-products-card-image">
                    </a>
                    <div class="catalog__main-products-card-info">
                        <h4 class="catalog__main-products-card-title">
                            <a href="#">
                                Генератор для автомобиля Лада 2110/2113/2170 140А
                            </a>

                        </h4>
                        <a href="#" class="catalog__main-products-card-code js-copy-code" data-code="АЕАТ3002">
                            <span class="catalog__main-products-card-code-text">
                                Код товара: <strong>АЕАТ3002</strong>
                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-copy">
                                <use xlink:href="#copy"></use>
                            </svg>
                        </a>
                        <a href="#" class="catalog__main-products-card-serials">
                            <p>
                                OEM НОМЕР: SMD354804, MD 313937, MD 314375, MD 354804, A003TA0491, A003TA0491A,
                                A003TA2391, A003TA2391A, A003TA2391AM, A005TA0391, A005TA...
                            </p>
                        </a>
                        <a href="#" class="catalog__main-products-card-brand">
                            <div class="catalog__main-products-card-brand-name">
                                GAZ
                            </div>
                            <div class="catalog__main-products-card-brand-models">
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA (3102)
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA униве...
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA универсал (3102)
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    SOBOL (275...
                                </div>
                            </div>
                        </a>

                        <a href="#" class="catalog__main-products-card-price">
                            <h5 class="catalog__main-products-card-recommended">
                                Рекомендуемая цена
                            </h5>
                            <div class="catalog__main-products-card-price-amount">
                                8 910 руб.
                            </div>
                        </a>

                        <a href="#" class="catalog__main-products-card-download-materials">
                            Скачать материалы
                        </a>
                    </div>
                </div>
            </li>
            <li class="search__results-list-item">
                <div class="catalog__main-products-card">
                    <a href="#" class="catalog__main-products-card-image-container">
                        <img data-src="img/card.jpg" alt="" class="lazyload catalog__main-products-card-image">
                    </a>
                    <div class="catalog__main-products-card-info">
                        <h4 class="catalog__main-products-card-title">
                            <a href="#">
                                Генератор для автомобиля Лада 2110/2113/2170 140А
                            </a>

                        </h4>
                        <a href="#" class="catalog__main-products-card-code js-copy-code" data-code="АЕАТ3002">
                            <span class="catalog__main-products-card-code-text">
                                Код товара: <strong>АЕАТ3002</strong>
                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-copy">
                                <use xlink:href="#copy"></use>
                            </svg>
                        </a>
                        <a href="#" class="catalog__main-products-card-serials">
                            <p>
                                OEM НОМЕР: SMD354804, MD 313937, MD 314375, MD 354804, A003TA0491, A003TA0491A,
                                A003TA2391, A003TA2391A, A003TA2391AM, A005TA0391, A005TA...
                            </p>
                        </a>
                        <a href="#" class="catalog__main-products-card-brand">
                            <div class="catalog__main-products-card-brand-name">
                                GAZ
                            </div>
                            <div class="catalog__main-products-card-brand-models">
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA (3102)
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA униве...
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA универсал (3102)
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    SOBOL (275...
                                </div>
                            </div>
                        </a>

                        <a href="#" class="catalog__main-products-card-price">
                            <h5 class="catalog__main-products-card-recommended">
                                Рекомендуемая цена
                            </h5>
                            <div class="catalog__main-products-card-price-amount">
                                8 910 руб.
                            </div>
                        </a>

                        <a href="#" class="catalog__main-products-card-download-materials">
                            Скачать материалы
                        </a>
                    </div>
                </div>
            </li>
            <li class="search__results-list-item">
                <div class="catalog__main-products-card">
                    <a href="#" class="catalog__main-products-card-image-container">
                        <img data-src="img/card.jpg" alt="" class="lazyload catalog__main-products-card-image">
                    </a>
                    <div class="catalog__main-products-card-info">
                        <h4 class="catalog__main-products-card-title">
                            <a href="#">
                                Генератор для автомобиля Лада 2110/2113/2170 140А
                            </a>

                        </h4>
                        <a href="#" class="catalog__main-products-card-code js-copy-code" data-code="АЕАТ3002">
                            <span class="catalog__main-products-card-code-text">
                                Код товара: <strong>АЕАТ3002</strong>
                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-copy">
                                <use xlink:href="#copy"></use>
                            </svg>
                        </a>
                        <a href="#" class="catalog__main-products-card-serials">
                            <p>
                                OEM НОМЕР: SMD354804, MD 313937, MD 314375, MD 354804, A003TA0491, A003TA0491A,
                                A003TA2391, A003TA2391A, A003TA2391AM, A005TA0391, A005TA...
                            </p>
                        </a>
                        <a href="#" class="catalog__main-products-card-brand">
                            <div class="catalog__main-products-card-brand-name">
                                GAZ
                            </div>
                            <div class="catalog__main-products-card-brand-models">
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA (3102)
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA униве...
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA универсал (3102)
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    SOBOL (275...
                                </div>
                            </div>
                        </a>

                        <a href="#" class="catalog__main-products-card-price">
                            <h5 class="catalog__main-products-card-recommended">
                                Рекомендуемая цена
                            </h5>
                            <div class="catalog__main-products-card-price-amount">
                                8 910 руб.
                            </div>
                        </a>

                        <a href="#" class="catalog__main-products-card-download-materials">
                            Скачать материалы
                        </a>
                    </div>
                </div>
            </li>
        </ul>

        <div class="pagination pagination--centered">
            <a href="#" class="pagination__prev">
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </a>
            <div class="pagination__links">
                <a href="#" class="pagination__link active">
                    1
                </a>
                <a href="#" class="pagination__link">
                    2
                </a>
                <a href="#" class="pagination__link">
                    3
                </a>
                <a href="#" class="pagination__link">
                    4
                </a>
                <form action="/" method="GET" class="pagination__form">
                    №
                    <input type="tel" class="pagination__form-input js-numeric-input">
                </form>

                <a href="#" class="pagination__link">
                    32
                </a>
            </div>
            <a href="#" class="pagination__next">
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
</div>


{{/content}}
{{/extend}}