{{#extend "layout"}}
{{#content "main"}}


{{> search-panel }}

<div class="page-title">
    <div class="container">


        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                главная
            </a>
            <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                <use xlink:href="#breadcrumbs-arrow"></use>
            </svg>
            <a href="#" class="breadcrumbs__link active">
                каталог
            </a>
        </div>
        <div class="page-title__row">
            <h1 class="page-title__heading">
                По точному совпадению результатов не найдено
            </h1>

        </div>
    </div>
</div>


<div class="search">
    <div class="container">
        <div class="search__edit-query">
            <h3 class="search__edit-query-heading">
                Отредактируйте свой запрос, чтобы он был более релевантным
            </h3>
            <input type="search" name="q" class="search__edit-query-input">
        </div>

        <div class="search__suggested-categories">
            <h2 class="categories__heading">
                Возможно вас заинтересуют следующие категории и товары
            </h2>
            <ul class="categories__list">
                <li class="categories__list-item categories__list-item--large">
                    <a href="#" class="categories__card">


                        <picture>
                            <source data-srcset="img/categories/1-mobile.jpg" media="(max-width: 640px)">
                            <img data-src="img/categories/1.jpg" alt="" class="lazyload categories__card-image"
                                data-sizes="auto">
                        </picture>
                        <h4 class="categories__card-title">
                            Генераторы

                            <div class="categories__card-arrow">
                                <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                    <use xlink:href="#long-arrow-right"></use>
                                </svg>
                            </div>
                        </h4>
                    </a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__card">
                        <img data-src="img/categories/2.jpg" alt="" class="lazyload categories__card-image">
                        <h4 class="categories__card-title">
                            Клапаны фаз ГРМ

                            <div class="categories__card-arrow">
                                <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                    <use xlink:href="#long-arrow-right"></use>
                                </svg>
                            </div>
                        </h4>
                    </a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__card">
                        <img data-src="img/categories/3.jpg" alt="" class="lazyload categories__card-image">
                        <h4 class="categories__card-title">
                            Катушки

                            <div class="categories__card-arrow">
                                <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                    <use xlink:href="#long-arrow-right"></use>
                                </svg>
                            </div>
                        </h4>
                    </a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__card">
                        <img data-src="img/categories/4.jpg" alt="" class="lazyload categories__card-image">
                        <h4 class="categories__card-title">
                            Катушки

                            <div class="categories__card-arrow">
                                <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                    <use xlink:href="#long-arrow-right"></use>
                                </svg>
                            </div>
                        </h4>
                    </a>
                </li>
                <li class="categories__list-item">
                    <a href="#" class="categories__card">
                        <img data-src="img/categories/5.jpg" alt="" class="lazyload categories__card-image">
                        <h4 class="categories__card-title">
                            Детали системы стеклоочистителя

                            <div class="categories__card-arrow">
                                <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                    <use xlink:href="#long-arrow-right"></use>
                                </svg>
                            </div>
                        </h4>
                    </a>
                </li>
                <li class="categories__list-item categories__list-item--large">
                    <a href="#" class="categories__card">
                        <picture>
                            <source data-srcset="img/categories/1-mobile.jpg" media="(max-width: 640px)">
                            <img data-src="img/categories/1.jpg" alt="" class="lazyload categories__card-image"
                                data-sizes="auto">
                        </picture>
                        <h4 class="categories__card-title">
                            Стартеры

                            <div class="categories__card-arrow">
                                <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                    <use xlink:href="#long-arrow-right"></use>
                                </svg>
                            </div>
                        </h4>
                    </a>
                </li>
      
        
        
            </ul>
        </div>

        <ul class="search__results-list">
            <li class="search__results-list-item">
                <div class="catalog__main-products-card">
                    <a href="#" class="catalog__main-products-card-image-container">
                        <img data-src="img/card.jpg" alt="" class="lazyload catalog__main-products-card-image">
                    </a>
                    <div class="catalog__main-products-card-info">
                        <h4 class="catalog__main-products-card-title">
                            <a href="#">
                                Генератор для автомобиля Лада 2110/2113/2170 140А
                            </a>

                        </h4>
                        <a href="#" class="catalog__main-products-card-code js-copy-code" data-code="АЕАТ3002">
                            <span class="catalog__main-products-card-code-text">
                                Код товара: <strong>АЕАТ3002</strong>
                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-copy">
                                <use xlink:href="#copy"></use>
                            </svg>
                        </a>
                        <a href="#" class="catalog__main-products-card-serials">
                            <p>
                                OEM НОМЕР: SMD354804, MD 313937, MD 314375, MD 354804, A003TA0491, A003TA0491A,
                                A003TA2391, A003TA2391A, A003TA2391AM, A005TA0391, A005TA...
                            </p>
                        </a>
                        <a href="#" class="catalog__main-products-card-brand">
                            <div class="catalog__main-products-card-brand-name">
                                GAZ
                            </div>
                            <div class="catalog__main-products-card-brand-models">
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA (3102)
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA униве...
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA универсал (3102)
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    SOBOL (275...
                                </div>
                            </div>
                        </a>

                        <a href="#" class="catalog__main-products-card-price">
                            <h5 class="catalog__main-products-card-recommended">
                                Рекомендуемая цена
                            </h5>
                            <div class="catalog__main-products-card-price-amount">
                                8 910 руб.
                            </div>
                        </a>

                        <a href="#" class="catalog__main-products-card-download-materials">
                            Скачать материалы
                        </a>
                    </div>
                </div>
            </li>
            <li class="search__results-list-item">
                <div class="catalog__main-products-card">
                    <a href="#" class="catalog__main-products-card-image-container">
                        <img data-src="img/card.jpg" alt="" class="lazyload catalog__main-products-card-image">
                    </a>
                    <div class="catalog__main-products-card-info">
                        <h4 class="catalog__main-products-card-title">
                            <a href="#">
                                Генератор для автомобиля Лада 2110/2113/2170 140А
                            </a>

                        </h4>
                        <a href="#" class="catalog__main-products-card-code js-copy-code" data-code="АЕАТ3002">
                            <span class="catalog__main-products-card-code-text">
                                Код товара: <strong>АЕАТ3002</strong>
                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-copy">
                                <use xlink:href="#copy"></use>
                            </svg>
                        </a>
                        <a href="#" class="catalog__main-products-card-serials">
                            <p>
                                OEM НОМЕР: SMD354804, MD 313937, MD 314375, MD 354804, A003TA0491, A003TA0491A,
                                A003TA2391, A003TA2391A, A003TA2391AM, A005TA0391, A005TA...
                            </p>
                        </a>
                        <a href="#" class="catalog__main-products-card-brand">
                            <div class="catalog__main-products-card-brand-name">
                                GAZ
                            </div>
                            <div class="catalog__main-products-card-brand-models">
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA (3102)
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA униве...
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA универсал (3102)
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    SOBOL (275...
                                </div>
                            </div>
                        </a>

                        <a href="#" class="catalog__main-products-card-price">
                            <h5 class="catalog__main-products-card-recommended">
                                Рекомендуемая цена
                            </h5>
                            <div class="catalog__main-products-card-price-amount">
                                8 910 руб.
                            </div>
                        </a>

                        <a href="#" class="catalog__main-products-card-download-materials">
                            Скачать материалы
                        </a>
                    </div>
                </div>
            </li>
            <li class="search__results-list-item">
                <div class="catalog__main-products-card">
                    <a href="#" class="catalog__main-products-card-image-container">
                        <img data-src="img/card.jpg" alt="" class="lazyload catalog__main-products-card-image">
                    </a>
                    <div class="catalog__main-products-card-info">
                        <h4 class="catalog__main-products-card-title">
                            <a href="#">
                                Генератор для автомобиля Лада 2110/2113/2170 140А
                            </a>

                        </h4>
                        <a href="#" class="catalog__main-products-card-code js-copy-code" data-code="АЕАТ3002">
                            <span class="catalog__main-products-card-code-text">
                                Код товара: <strong>АЕАТ3002</strong>
                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-copy">
                                <use xlink:href="#copy"></use>
                            </svg>
                        </a>
                        <a href="#" class="catalog__main-products-card-serials">
                            <p>
                                OEM НОМЕР: SMD354804, MD 313937, MD 314375, MD 354804, A003TA0491, A003TA0491A,
                                A003TA2391, A003TA2391A, A003TA2391AM, A005TA0391, A005TA...
                            </p>
                        </a>
                        <a href="#" class="catalog__main-products-card-brand">
                            <div class="catalog__main-products-card-brand-name">
                                GAZ
                            </div>
                            <div class="catalog__main-products-card-brand-models">
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA (3102)
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA униве...
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA универсал (3102)
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    SOBOL (275...
                                </div>
                            </div>
                        </a>

                        <a href="#" class="catalog__main-products-card-price">
                            <h5 class="catalog__main-products-card-recommended">
                                Рекомендуемая цена
                            </h5>
                            <div class="catalog__main-products-card-price-amount">
                                8 910 руб.
                            </div>
                        </a>

                        <a href="#" class="catalog__main-products-card-download-materials">
                            Скачать материалы
                        </a>
                    </div>
                </div>
            </li>
            <li class="search__results-list-item">
                <div class="catalog__main-products-card">
                    <a href="#" class="catalog__main-products-card-image-container">
                        <img data-src="img/card.jpg" alt="" class="lazyload catalog__main-products-card-image">
                    </a>
                    <div class="catalog__main-products-card-info">
                        <h4 class="catalog__main-products-card-title">
                            <a href="#">
                                Генератор для автомобиля Лада 2110/2113/2170 140А
                            </a>

                        </h4>
                        <a href="#" class="catalog__main-products-card-code js-copy-code" data-code="АЕАТ3002">
                            <span class="catalog__main-products-card-code-text">
                                Код товара: <strong>АЕАТ3002</strong>
                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-copy">
                                <use xlink:href="#copy"></use>
                            </svg>
                        </a>
                        <a href="#" class="catalog__main-products-card-serials">
                            <p>
                                OEM НОМЕР: SMD354804, MD 313937, MD 314375, MD 354804, A003TA0491, A003TA0491A,
                                A003TA2391, A003TA2391A, A003TA2391AM, A005TA0391, A005TA...
                            </p>
                        </a>
                        <a href="#" class="catalog__main-products-card-brand">
                            <div class="catalog__main-products-card-brand-name">
                                GAZ
                            </div>
                            <div class="catalog__main-products-card-brand-models">
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA (3102)
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA униве...
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    VOLGA универсал (3102)
                                </div>
                                <div class="catalog__main-products-card-brand-model">
                                    SOBOL (275...
                                </div>
                            </div>
                        </a>

                        <a href="#" class="catalog__main-products-card-price">
                            <h5 class="catalog__main-products-card-recommended">
                                Рекомендуемая цена
                            </h5>
                            <div class="catalog__main-products-card-price-amount">
                                8 910 руб.
                            </div>
                        </a>

                        <a href="#" class="catalog__main-products-card-download-materials">
                            Скачать материалы
                        </a>
                    </div>
                </div>
            </li>

        </ul>


    </div>
</div>


{{/content}}
{{/extend}}