.breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3.2rem;
    &:last-child {
        margin-bottom: 0;
    }
    @include breakpoint(mobile) {
        margin-bottom: 3.4rem;

        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    svg {
        width: 1.6rem;
        height: 1.6rem;
        fill: #9a9a9a;
        margin: 0 2rem;
        flex-shrink: 0;
        margin-top: 0.3rem;

        @include breakpoint(mobile) {
            display: inline-block;
            vertical-align: bottom;
            margin: 0 1.5rem;
            margin-top: 0;
            margin-bottom: 0.1rem;
        }
    }
}

.breadcrumbs__link {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.02em;

    &.active {
        color: #9a9a9a;
        pointer-events: none;
    }

    &:not(.active):hover {
        color: var(--primary-color);
    }
}
