.catalog-filters {
    margin-bottom: 3.2rem;
}

.catalog-filters__form {
    display: flex;
    align-items: center;
    padding: 1.2rem 2rem;
    background: #f5f5f5;
    border-radius: 0.4rem;

    @include breakpoint(mobile) {
        border-radius: 0;
        margin: 0 calc(-1 * var(--content-padding));
        padding: 2rem var(--content-padding);
        flex-direction: column;
        align-items: initial;
    }
}

.catalog-filters__oem {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: white;
    background-color: var(--primary-color);
    border-radius: 0.3rem;
    flex-shrink: 0;
    min-width: 42rem;
    margin-right: 2rem;
    display: block;
    padding: 1.3rem 2.4rem;
    font-family: var(--franklin-c);
    text-align: center;
    align-items: center;
    justify-content: center;
    &:link,
    &:visited {
        color: white;
    }
    &:last-child {
        margin-right: 0;
    }
    @include breakpoint(mobile) {
        margin: 0;
        margin-bottom: 2.2rem;
        min-width: auto;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.catalog-filters__select-wrapper {
    width: 15rem;
    flex-grow: 1;
    margin-right: 2rem;

    @include breakpoint(mobile) {
        margin: 0;
        width: 100%;
        flex-grow: 0;
        margin-bottom: 2.2rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &:last-child {
        margin-right: 0;
    }
}

.catalog-filters__submit {
    flex-shrink: 0;
    white-space: nowrap;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 1.1rem 2.4rem;
    border-radius: 0.3rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    transition: color 0.2s, background-color 0.2s;
    min-width: 18rem;
    font-family: var(--franklin-c);
    align-items: center;
    justify-content: center;
    display: inline-flex;

    @include breakpoint(mobile) {
        width: 100%;
        display: flex;
        min-width: auto;
        padding: 1.3rem 2.4rem;
    }
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: var(--primary-color);
        color: white;
    }
}

