@font-face {
    font-family: 'Franklin';
    src: url('../assets/fonts/FranklinGothicBookXCmpC-Bold.woff2') format('woff2'),
        url('../assets/fonts/FranklinGothicBookXCmpC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Franklin';
    src: url('../assets/fonts/FranklinGothic-MediumCond.woff2') format('woff2'), url('../assets/fonts/FranklinGothic-MediumCond.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Franklin';
    src: url('../assets/fonts/FranklinGothic-DemiCond.woff2') format('woff2'), url('../assets/fonts/FranklinGothic-DemiCond.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FranklinCTT';
    src: url('../assets/fonts/FranklinGothicMediumC.woff2') format('woff2'), url('../assets/fonts/FranklinGothicMediumC.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Franklin';
    src: url('../assets/fonts/FranklinGothic-Book.woff2') format('woff2'), url('../assets/fonts/FranklinGothic-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
