.materials {
    margin-bottom: 10rem;

    @include breakpoint(mobile) {
        margin-bottom: 7rem;
    }
}

.materials__row {
    display: flex;

    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.materials__left-col {
    width: 31rem;
    margin-right: 3rem;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        width: 100%;
        margin: 0;
        flex-shrink: 0;
        margin-bottom: 2.5rem;
    }
}

.materials__right-col {
    width: 30%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.materials__nav-list-item {
    margin-bottom: 1.6rem;

    @include breakpoint(mobile) {
        margin: 0 calc(-1 * var(--content-padding));
        border-bottom: 1px solid #ebebeb;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.materials__nav-link {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.3rem;

    @include breakpoint(mobile) {
        padding: 1.2rem var(--content-padding);
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2rem;
        display: block;
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
    .materials__nav-list-item.active & {
        color: var(--primary-color);
    }
}

.materials__current-category {
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 1.2;
    margin-bottom: 2.5rem;

    @include breakpoint(mobile) {
        display: none;
    }
}

.materials__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 2.5rem;
    grid-row-gap: 1rem;

    @include breakpoint(mobile) {
        grid-gap: 1.6rem;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.materials__link {
    padding: 1.2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.02em;
    transition: background-color 0.2s, color 0.2s;

    @include breakpoint(mobile) {
        padding: .5rem 0;
    }
    .icon-download {
        width: 1.6rem;
        height: 1.6rem;
        flex-shrink: 0;
        margin-left: 3rem;
        fill: var(--text-color);
        transition: fill 0.2s;
    }

    .icon-external-link {
        width: 1.6rem;
        height: 1.6rem;
        flex-shrink: 0;
        margin-left: 1.2rem;
        margin-right: auto;
        fill: #9a9a9a;
    }

    .no-touch &:hover,
    .touch &:active {
        background: #f5f5f5;
        color: var(--primary-color);

        .icon-download {
            fill: var(--primary-color);
        }
    }
}
