.page-title {
    margin-bottom: 3.5rem;
  
    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.page-title__row {
    display: flex;
    align-items: center;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
    }
}

.page-title__heading {
    font-weight: bold;
    font-size: 5.4rem;
    line-height: 1;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #1a1919;
    max-width: 84rem;
    @include breakpoint(mobile) {
        font-size: 3.6rem;
        line-height: 1;
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.page-title__links {
    display: flex;
    align-items: center;
    margin-left: auto;

    @include breakpoint(mobile) {
        margin: 0;
        justify-content: space-between;
    }
}

.page-title__link {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-right: 5rem;

    @include breakpoint(mobile) {
        margin-right: 2rem;
    }
    &:last-child {
        margin-right: 0;
    }
    &:link,
    &:visited {
        color: var(--text-color);
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }

    svg {
        width: 1.6rem;
        height: 1.6rem;
        flex-shrink: 0;
        margin-right: 1.2rem;
        fill: currentColor;
    }
}

.page-title__search-form {
    margin-left: auto;
    display: flex;
    align-items: center;
    width: 34rem;
    padding: 1.2rem 1.6rem;
    background: #ffffff;
    border: 1px solid #e9e9e9;

    @include breakpoint(mobile) {
        width: 100%;
        margin-top: 1.5rem;
    }
}

.page-title__search-form-input {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.02em;
    color: var(--text-color);
    width: 50%;
    flex-grow: 1;
    @include placeholder {
        color: #9a9a9a;
    }
}

.page-title__search-form-submit {
    flex-shrink: 0;
    margin-left: 2rem;
    width: 1.6rem;
    height: 1.6rem;

    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: #9a9a9a;
        transition: fill 0.2s;
    }

    &:hover {
        svg {
            fill: var(--text-color);
        }
    }
}

.page-title__filter {
    flex-shrink: 0;
    margin-left: auto;

    @include breakpoint(mobile) {
        flex-shrink: 1;
        margin: 0 calc(-1 * var(--content-padding));
        background: #f5f5f5;
        padding: 0 var(--content-padding);
        margin-top: 1rem;
        display: none;
    }

    .choices {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: 0;
        position: relative;
        border-radius: 0;

        &.is-open {
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
    }

    .choices.is-open {
        z-index: 30;
    }

    .choices[data-type*='select-one'].is-open::after {
        transform: translateY(-50%) rotate(180deg);
    }

    .choices[data-type*='select-one'] .choices__inner {
        padding-bottom: 0rem;
    }

    .choices__inner {
        background: #ffffff;
        font-size: 1.6rem;
        line-height: 2rem;
        padding: 0;
        border: none;
        min-height: 4.4rem;
        display: flex;
        align-items: center;
        background: transparent;
        border-radius: 0;
        border-radius: 0 !important;
        transition: border-color 0.2s;

        @include breakpoint(mobile) {
            padding: 0 1.6rem;
        }
    }

    &.parsley-error {
        .choices__inner {
            border-color: var(--error-color) !important;
        }
    }

    .choices__list--single {
        padding: 0;
        padding-right: 3rem;
    }

    .choices[data-type*='select-one']:after {
        border: none;
        margin: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        width: 1.4rem;
        height: 0.7rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform 0.3s;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7.51 4.46'%3E%3Cpath fill='%239A9A9A' d='M3.56,4.38a.28.28,0,0,0,.4,0L7.42.93a.27.27,0,0,0,0-.4L7,.09a.27.27,0,0,0-.4,0L3.77,2.85,1,.09a.27.27,0,0,0-.4,0L.09.53a.27.27,0,0,0,0,.4Z' /%3E%3C/svg%3E");
        @include breakpoint(mobile) {
            background-image: url("data:image/svg+xml,%0A%3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12.1 6.93'%3E%3Cpath d='M12 .65L11.48.1a.33.33 0 00-.48 0l-4.95 5-4.96-5a.33.33 0 00-.47 0L.1.65a.32.32 0 000 .46l5.72 5.72a.3.3 0 00.46 0L12 1.11a.32.32 0 000-.46z' fill='%23343434'/%3E%3C/svg%3E");
        }
    }

    .choices__placeholder {
        opacity: 1;

        color: #9a9a9a;
    }

    .choices__list--dropdown {
        word-break: initial;
        border: none;
        // border-top: 1px solid rgba(0, 0, 0, 0.08);
        background: #ffffff;
        border: 1px solid #e9e9e9;
        // min-width: 20rem;
        border-radius: 0rem !important;
        left: auto;
        max-width: none;
        width: auto;
        right: 0;
        box-shadow: none;
        transition: opacity 0.3s, visibility 0s linear 0.3s;
        display: block !important;
        opacity: 0;
        visibility: hidden;
        padding: 0;
        white-space: nowrap;

        @include breakpoint(mobile) {
            background: #f9f9f9;
            box-shadow: 0px 0.6rem 2rem rgba(0, 0, 0, 0.15);
            border-radius: 0.4rem !important;
            margin-top: 0.4rem;
            border: none;
            width: 100%;
        }

        &.is-active {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.3s, visibility 0.3s;
        }
    }

    .choices__list--dropdown .choices__item {
        font-size: 1.6rem;
        line-height: 2rem;
        transition: background-color 0.2s, color 0.2s;
        padding: 1.1rem 1.6rem;
        display: flex;
        align-items: center;
        border-top: 1px solid #e9e9e9;

        @include breakpoint(mobile) {
            
        }

        &:first-child {
            border: none;
        }
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted {
        background: #e9e9e9;

        @include breakpoint(mobile) {
            background: transparent;
            color: var(--primary-color);
        }
    }

    .choices__list--dropdown .choices__list {
        max-height: 30rem;

        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            background-color: white;
            width: 0.6rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--primary-color);
            border-radius: 0.3rem;
        }

        &::-webkit-scrollbar-button {
            display: none;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        @include breakpoint(mobile) {
            max-height: 22rem;
        }
    }
}
