.pagination {
    margin-top: 5rem;
    display: flex;
    align-items: center;

    &--centered {
        justify-content: center;
    }
}

.pagination__prev {
    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;
    margin-right: 2rem;
    svg {
        width: 100%;
        height: 100%;
        fill: var(--text-color);
        transition: fill 0.2s;
    }

    .no-touch &:hover,
    .touch &:active {
        svg {
            fill: var(--primary-color);
        }
    }
}

.pagination__links {
    display: flex;
    align-items: center;

    @include breakpoint(mobile) {
        // justify-content: space-between;
        width: 50%;
        flex-grow: 1;
    }
}

.pagination__form {
    margin-right: 3rem;
    padding: 1rem 0;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.02em;
    color: #9A9A9A;
    display: flex;
    align-items: baseline;
    width: 6.2rem;
    flex-shrink: 0;
    border-bottom: 1px solid #9A9A9A;
    &:last-child {
        margin-right: 0;
    }
}

.pagination__form-input {
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.02em;
    width: 30%;
    flex-grow: 1;
    padding-left: .7rem;
}

.pagination__next {
    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;
    margin-left: 2rem;
    svg {
        width: 100%;
        height: 100%;
        fill: var(--text-color);
        transition: fill 0.2s;
    }

    .no-touch &:hover,
    .touch &:active {
        svg {
            fill: var(--primary-color);
        }
    }
}

.pagination__link {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-right: 3rem;
    &:last-child {
        margin-right: 0;
    }
    &.active {
        color: var(--primary-color);
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
}
