.search-panel {
    margin-top: 1.2rem;
    position: relative;
    z-index: 60;
    @include breakpoint(mobile) {
        margin-top: 0;
    }
}

.search-panel__row {
    position: relative;
    z-index: 1;
    padding: 1.2rem 0;
    display: grid;
    grid-template-columns: minmax(0, 18rem) minmax(0, 1fr) minmax(0, 30rem);
    grid-gap: 4rem;
    align-items: center;

    @include breakpoint(mobile) {
        padding: 1.6rem 0;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: initial;
        grid-template-areas: 'menu vin' 'search search' 'car car';
    }
}

.search-panel__products-menu {
    align-self: stretch;
    display: flex;
    align-items: center;

    @include breakpoint(mobile) {
        grid-area: menu;
        position: relative;
    }
}

.search-panel__products-menu-dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    margin-top: -1.2rem;
    padding-top: 1.2rem;

    @include breakpoint(mobile) {
        margin-top: 0;
        padding-top: 0;
        left: 0;
        width: calc((100vw - 2 * var(--content-padding)));
        z-index: 80;
        padding-top: 1.6rem;
    }
    .search-panel__products-menu.active & {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.3s, visibility 0.3s;
    }
}

.search-panel__products-menu-dropdown-inner {
    background: #f5f5f5;
    padding: 3.5rem;

    @include breakpoint(mobile) {
        padding: 2rem;
        max-height: 30rem;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }
}

.search-panel__products-menu-results {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 8rem;
    grid-row-gap: 2rem;

    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 2rem;
    }
}

.search-panel__products-menu-link {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.02em;

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
}

.search-panel__products-menu-btn {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.02em;

    &:link,
    &:visited {
        color: var(--primary-color);
    }
}

.search-panel__products-menu-btn-burger {
    width: 2.2rem;
    flex-shrink: 0;
    margin-right: 1.6rem;

    &::before,
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 0.2rem;
        background-color: var(--primary-color);
        transition: transform 0.3s;
    }

    &::before {
        margin-bottom: 0.4rem;
    }
}

.search-panel__search {
    position: relative;

    @include breakpoint(mobile) {
        grid-area: search;
        margin-top: 3rem;
    }
}

.search-panel__search-form {
    display: flex;
    align-items: center;
    padding: 1.4rem;
    background: #f9f9f9;

    @include breakpoint(mobile) {
        padding: 1.2rem 1.6rem;
    }
}

.search-panel__search-input {
    width: 40%;
    flex-grow: 1;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.02em;
    color: var(--text-color);
    @include placeholder {
        color: #9a9a9a;
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2rem;
    }
}

.search-panel__search-submit {
    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;
    margin-left: 1.2rem;
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: var(--primary-color);
        transition: fill 0.2s;
    }

    .no-touch &:hover,
    .touch &:active {
        svg {
            fill: var(--text-color);
        }
    }
}

.search-panel__search-dropdown {
    position: absolute;
    top: 100%;
    padding-top: 0.5rem;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    z-index: 30;

    .search-panel__search-input:not(:placeholder-shown) ~ & {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.3s, visibility 0.3s;
    }
}

.search-panel__search-dropdown-inner {
    background: #f9f9f9;
    border: 1px solid #f5f5f5;
    box-shadow: 0px 0.6rem 2rem rgba(0, 0, 0, 0.05);
    padding-top: 1.2rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-bottom: 2.4rem;
}

.search-panel__search-dropdown-results {
    margin-bottom: 2rem;
}

.search-panel__search-dropdown-results-item {
    margin-bottom: 0.8rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.search-panel__search-dropdown-results-show-all {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.02em;

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
}

.search-panel__search-dropdown-results-link {
    display: flex;
    align-items: center;

    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.02em;

    b {
        font-weight: 600;
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
}

.search-panel__search-dropdown-results-image-container {
    position: relative;
    width: 4.4rem;
    height: 4.4rem;
    background: #c4c4c4;
    flex-shrink: 0;
    margin-right: 2.4rem;
}

.search-panel__btns {
    display: flex;
    align-items: center;

    @include breakpoint(mobile) {
        display: contents;
    }
}

.search-panel__vin {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.02em;
    border-bottom: 1px solid currentColor;
    transition: color 0.2s, border-color 0.2s;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        grid-area: vin;
        justify-self: flex-end;
    }
    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
}

.search-panel__choose-auto {
    flex-shrink: 0;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.02em;
    margin-right: 3.5rem;

    display: inline-flex;
    align-items: center;

    @include breakpoint(mobile) {
        grid-area: car;
        justify-self: center;
        margin: 0;
        margin-top: 1.6rem;
    }

    svg {
        width: 1.4rem;
        height: 0.6rem;
        flex-shrink: 0;
        fill: #9a9a9a;
        margin-left: 1rem;
        transition: transform 0.2s;

        @include breakpoint(mobile) {
            display: none;
        }
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
}

.search-panel__choose-auto-text {
    border-bottom: 1px dotted currentColor;
}
